/* This uses !important a lot in order to force stuff to happen.  We really need
 * some styles to overwrite EVERYTHING, so we use !important to make it
 * happen. Normally, !important is bad-- you shouldn't try this at home.*/

#detect_mobile, .mobile_hidden, .mobile_hide { display: none; }

header {
    width: auto;
    text-align: center;
}

#container {
    min-width: 0;
}

nav.main {
    position: static;
    float: none;
    margin: 0 auto;
    font-size: 10px;
}

nav.main a,
nav.main a:last-child {
    font-size: 10px;
    margin: 0 3px;
}

#header_spread h1 {
    font-size: 30px;
    font-weight: bold;
    width: auto;
}

.subtitle {
    width: 280px;
    height: 20px;
}

#header_spread div.subtitle .subtitle_text {
    font-size: 12px;
    top: -31px;
}

.logo {
    margin-top: 10px;
}

#sections {
    width: auto;
}

#intro {
    font-size: 20px;
    margin: 0 0 15px;
    padding: 0 15px 15px;
}

#section_articles li,
#section_articles ul li:first-child {
    float: none;
    width: 280px;
    margin: auto;
    padding-left: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #aaa;
}

/* Notepad - Front Page */
#section_notepad > ul li {
    float: none;
    margin: 0 0 20px;
}

#section_notepad > ul {
    margin: auto;
    overflow: auto;
    padding: 0 8px;
    text-align: center;
    width: 220px;
}

/* Article Page */
header, #article {
    width: auto
}

.magazine_header {
    display: none;
}

.magazine_header_mobile {
    display: block;
}

.magazine_nav .prev, .magazine_nav .next {
    width: auto;
}

.magazine_meta .meta_author, .magazine_meta .meta_date {
    display: none;
}

.magazine_nav .prev strong, .magazine_nav .prev .nav_title,
.magazine_nav .next strong, .magazine_nav .next .nav_title {
    display: none;
}

.text p {
    font-size: 14px;
    line-height: 1.3em;
    text-align: left;
}

.magazine_body {
    margin: 20px !important;
}

.magazine_body img, .magazine_body iframe {
    max-width: 80%;
    margin: 0 auto 2em;
}

code {
    background-color: #ccc;
    font-size: 11px;
    margin-bottom: 10px;
}

/* Notepad Page */
#notebook #notes,
#notebook #notes h2.title,
#notebook .note .note_container{
    width: auto;
}

#notebook img {
    width: 100%;
}

#notebook .text {
    width: auto;
    padding: 1em;
    margin: 0;
}

#notebook .sidebar {
    display: none;
}

/* Small Logo */
a#logo.small {
    padding: 20px 0;
    float: none;
    margin: auto;
    width: auto;
}

a#logo.small .logo {
    float: none;
    margin: auto;
}

#logo.small #header_spread h1,
#logo.small #header_spread div.subtitle {
    text-align: center;
    width: auto;
}

/* Footer */
footer {
    width: auto;
}
