{% extends template %}

{% block title %}Site Redesign{% endblock %}


{% block header %}

<div id="redesign_outside">
  <div id="redesign_inside" class="gar">
    g
  </div>
</div>

<div class="redesign_title_container">
  <div class="gar redesign_title">
    <div class="r_tl r"></div>
    <div class="r_tr r"></div>
    <div class="r_bl r"></div>
    <div class="r_br r"></div>
    <div class="r_tm r"></div>
    <div class="r_lm r"></div>
    <div class="r_bm r"></div>
    <div class="r_rm r"></div>
    site redesign!
  </div>
</div>
{% endblock %}

{% block content %}
<div class="meta">
<blockquote>I can never stand still. I must explore and experiment. I am never satisfied with my work. I resent the limitations of my own imagination.</blockquote>
<cite><strong>Walter Elias Disney</strong></cite>

<h3>Intro</h3>
<p>You know what they say&mdash; the cobbler's children never have shoes.  I&rsquo;ve spent a good majority of the past two years hunched over either vim or Photoshop, yet my personal website hasn&rsquo;t gotten much love.  So, it was time to rebuild the engine and a give it a fresh coat of paint.  My old site was clunky and cluttered, so I went the exact opposite direction with this redesign.</p>

<img src="../assets/beforeafter.png" alt="Before and After">

<h3>Design</h3>
<p>I get bored of designs easily.  So, I wanted a way to keep things interesting without having to redesign my site every few months.  I have always loved the idea of creating a new design for each blog post, so I went with that.  It gives me a chance to experiment without having to redesign a whole site.</p>

<p>For the rest of the site, I wanted something minimalistic.  It&rsquo;s easy to keep throwing gradients and borders and background images at a site until it looks decent&mdash; <a href="http://old.gkoberger.net">case in point</a>.  Creating something that looks beautiful without any clutter is a much bigger design challenge, and it was one I felt I was ready to take on.</p>

<figure>
  <a href="http://www.dropmocks.com/mVsXf">
    <img src="../assets/mocks.png" alt="Old mockups of the redesign.">
  </a>
</figure>
<figcaption>From the drawing board.  <a href="http://www.dropmocks.com/mVsXf" target="_new">View more</a>.</figcaption>

<h3>Mobile</h3>
<p>Since I spend so much time reading on my Droid, I felt it was only right I had an iPhone/Android version of the site.  It will almost certainly need some tweaking, but it&rsquo;s a start.  The site uses the same HTML, and loads a mobile style sheet on top of it.  I might eventually create a separate mobile version of the site to speed up load times, but for now this works.</p>

<figure>
  <img src="../assets/mobile.png" alt="Mobile version">
</figure>
<figcaption>Same HTML, different CSS.</figcaption>

<h3>Back end</h3>

<p>The biggest reason I don&rsquo;t update my current site is that it&rsquo;s written in Drupal.  I paid for that mistake dearly.  RIT was pushing to use Drupal for all their sites, so I figured using it for my site would be a great way to learn it.  As it turns out, Drupal is awful.</p>

<p>So, for the new version, I took it 100% the opposite way.  The whole site is just static HTML files, generated using Python and Jinja2.  You can check out the <a href="https://github.com/gkoberger/gkoberger">(absolutely horrible) code</a> on Github.  Don&rsquo;t judge me.</p>

</div>
{% endblock %}

{% block content_css %}
<style>
  body {
    background-image: url('../assets/top.gif');
    background-repeat: repeat-x;
  }

  #container {
    background-image: url('../assets/bg-article.gif');
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-top: 0px none;
  }

  .text {
    color: #222;
  }

  .subtitle_text, .subtitle_text .amperstand {
    color: #333;
  }

  #redesign_outside {
    background-color: #AAA;
    border-radius: 200px;
    height: 200px;
    margin: auto;
    padding: 10px;
    width: 200px;
  }

  #redesign_inside {
    background-color: #CCC;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 200px;
    line-height: 114px;
    color: rgb(255, 255, 255);
  }

  .redesign_title {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    border: 1px solid #888888;
    display: inline-block;
    font-size: 85px;
    font-weight: bold;
    margin: 40px auto 0;
    padding: 0 15px;
    position: relative;
  }

  .r {
    border: 1px solid #888;
    background-color: #fff;
    width: 7px;
    height: 7px;
    position: absolute;
  }

  .r_tl { top: -4px; left: -4px; }
  .r_tr { top: -4px; right: -4px; }
  .r_bl { bottom: -4px; left: -4px; }
  .r_br { bottom: -4px; right: -4px; }

  .r_lm { top: 50%; margin-top: -4px; left: -4px; }
  .r_tm { left: 50%; margin-left: -4px; top: -4px; }
  .r_bm { left: 50%; margin-left: -4px; bottom: -4px; }
  .r_rm { top: 50%; margin-top: -4px; right: -4px; }

  .text p:first-child {
    color: #000;
  }

  .redesign_title_container {
    text-align: center;
  }

  #logo.small .logo div {
    border: 0px none;
    background-color: transparent;
    font-family: Arial;
    font-size: 28px;
    line-height: 41px;
    width: 100%;
  }

  a#logo:hover div.logo svg {
    margin: 4px -2px;
  }

  a#logo.small:hover .logo div {
    background-color: transparent;
    padding-left: 10px;
  }

  .logo {
    background: -moz-radial-gradient(10px 10px 80deg, circle farthest-corner, #3070CA 0%, #14396E 100%);
    background: -webkit-gradient(radial, 20% 20%,5,60% 60%,80,from(#3070CA),to(#14396E));
    border-radius: 0 0 0 0;
    box-shadow: 2px 2px 2px #999999;
    font-weight: bold;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: none;
  }

  .magazine_body img {
    margin: 0 auto 2em;
  }

  figcaption {
    color: #777777;
    font-style: italic;
    margin-bottom: 2em;
    text-align: center;
  }

  .magazine_body figure {
    margin-bottom: 0;
    margin-left: -30px;
    text-align: center;
    width: 750px;
  }

  .magazine_body figure a {
    opacity: 0.8;
    border-bottom: none;
  }

  .magazine_body figure a:hover {
    opacity: 1;
    border-bottom: none;
  }

  .magazine_body figure img {
    margin: 0;
  }

  nav.main a:hover, nav.main a:active {
       color: #1B4684;
  }

  .magazine_body_container a {
        text-decoration: none;
       color: #1B4684;
  }

  .magazine_body a {
       border-bottom: 1px solid #CCCCCC;
       text-decoration: none;
  }

  .magazine_body a:hover, .magazine_body a:active {
      color: #0D3060;
  }


  ::-moz-selection{ background: #1B4684; }
  ::selection { background: #1B4684; }

</style>
{% endblock %}

{% block content_js %}
<script>
function initBoth() {
$('.logo div span').text("Gk");
}
</script>
{% endblock %}

{% block preview %}
<div class="parallax">
  <div class="bg gar">g</div>
</div>
{% endblock %}

{% block preview_css %}
  #namespace .bg {
    background-image: url('assets/bg.gif');
    background-position: 11px 8px;
    color: #333333;
    font-size: 200px;
    height: 150px;
    line-height: 67px;
    text-align: center;
    width: 260px;
     -webkit-transition: color 0.3s ease-in-out ;
     -moz-transition: color 0.3s ease-in-out;
  }

  #namespace:hover .bg {
    color: #7A1818;
  }

  #namespace .l3_logo {
    width: 275px;
    height: 165px;
    background-position: center 15px;
    background-repeat: no-repeat;
    background-image: url('assets/l3_logo.png');
  }

  #namespace .l2_name {
    background-image: url('assets/l2_name.png');
    width: 280px;
    height: 170px;
    background-position: center 120px;
    background-repeat: no-repeat;
  }

  #namespace .l1_bar {
    width: 290px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: 225px 10px;
    background-image: url('assets/l1_bar.png');
  }
{% endblock %}

{% block preview_js %}
function preview() {
  console.log($el);
}
{% endblock %}
