{% extends template %}

{% block title %}Things I Learned in 2010{% endblock %}

{% block typekit %}npp0gxn{% endblock %}

{% block header %}
<span class="nye_start"></span>
<div id="nye_container">
  <div class="bar"></div>
  <div id="nye_ball"></div>
</div>
<div id="starburst"></div>
<div class="buildings">
  <div class="buildings_front"></div>
</div>
<h2 class="things">
  <span class="tk-lobster">Things I Learned</span>
  <span class="sub">2010 Edition</span>
</h1>
{% endblock %}

{% block content %}
            <p class="intro">It's that time of the year again&mdash; where I bore you with a lengthy retrospective that only a personal journal could love. In theory, I'll have a new magazine-style blog post here every month. Although in practice, you'll probably still be reading this post in November. Anyway, without further ado, here we go. <strong>The top ten things I learned in 2010:</strong></p>
            <ol class="cd">

            <li>
            <h3>HTML5 is Awesome</h3>
            <p>If you showed me this blog post five years ago and told me there wasn't a single image on the entire page, I would have laughed.  Yet I did indeed create this page using <strong>nothing but HTML, CSS and JavaScript</strong>*.  Go ahead, check the source.  HTML5 (using the liberal, <a href="http://www.html5rocks.com/">Google-style definition</a>) has matured to a point where we can start to really take advantage of it.  With Firefox 4 almost ready to wow us, IE9 shaping up nicely and Chrome surely preparing something to unleash, I can't wait to see where we are a year from now.  After all, a year ago?  I was <a href="http://gkoberger.net/node/222">here</a>.</p>
            <p><em>* Okay, the snow below is an actual image. But everything else is code!</em></p></li>

            <li>

            <h3>I Miss College</h3>
            <p><em>Don't it always seem to go that you don't know what you've got till it's gone?</em> Pretty much how I feel about college.  I really enjoyed it while I was there, and I love where I am now.  However, looking back, it really was <strong>an incredible place</strong>.  Fifteen thousand students, all approximately my age, all within a few hundred yards of me, all there for the same reason.  I miss working in the computer labs, meeting new students, having <a href="http://mamamusings.net">professors who cared</a>, the Resident Advisor job and all my friends.  It took me a few years to really start enjoying RIT&mdash; and by that time, it was over.</p>
            </li>

            <li><h3>I Do Not Miss Snow</h3>
            <p>I took these pictures within a month of each other.</p>
            <p><strong>New York:</strong></p>
            <img class="pic1" src="/assets/snow.jpg">
            <p><strong>California:</strong></p>
            <img class="pic2" src="/assets/beach.jpg">
            <p>Enough said.</p>
            </li>


            <li><h3>VIM and OSX Aren't Half Bad</h3>
            <p>On the <a href="http://addons.mozilla.com">amo</a> team at Mozilla, using OSX and VIM isn't required, but I figured I would trade in Windows and try them out.  New job, programming in a new language&mdash; I might as well go for broke.  OSX and I still have our differences, however it's great for development.  VIM took me a bit to get used to, however I constantly catch myself trying to "gg", "/hey" and "d2d" random textareas.  It's amazing how fast you can manipulate text&mdash; in fact, it's made me practically allergic to touching my mouse.</p></li>


            <li><h3>Paying for Stuff</h3>
            <p>Up until this year, I never really paid for stuff online.  I don't mean piracy&mdash; more often than not, I just went without.  This year,
            however, I realized good software and services are worth every penny.  I have subscriptions to awesome services like Pandora, Rdio, Typekit, Github,
            Grooveshark and Netflix. I buy a ton of apps for my Droid and iPad. I purchase any OSX software that I think will make my workflow easier. I even
            felt bad enough for Jimmy Wales that I threw a donation his way.  So far, I haven't regretted a single purchase.  My life is easier and more enjoyable, and these people can continue to develop awesome products and services.  People need to eat, and I think that's something our culture of <em>everything online should be free!</em> has unfortunately overlooked.</p></li>
            </li>

            <li><h3>I Love Git (and Python)</h3>

            <p>If you're still using SVN, learn Git.  Really.  I can't believe how phenomenal Git is, and I don't understand why anyone still uses SVN or CVS. There's a bit of a learning curve, which always held me back in the past.  However, it's made up for it's difficulty in raw usefulness.  And while Git is great, Github really takes it to the next level.  I'm not sure how I managed before I had them.  Coming from PHP, Python is has left me with a similar feeling of enjoyment.  It no longer feels like I'm fighting with the tools I use, which is a really nice way to work.</p>
            </li>

            <li><h3>Movie Star Hopes: Dashed</h3>
            <p>So, I won't be a movie star anytime soon.  I can't even play myself.  Luckily I have a programming gig to fall back on.</p>
            <iframe width="400" height="249" src="http://www.youtube.com/embed/hD4WXOB181U" frameborder="0" allowfullscreen></iframe>
            </li>

            <li><h3>Academics are too&hellip; Academic</h3>

            <p>Don't get me wrong, I was lucky enough to have a ton of great teachers at RIT.  However, after working at Mozilla, I cannot believe how many basic skills were completely ignored.  Version control, coding standards, debugging, writing tests and peer reviews were lucky if they got a single class dedicated to them.  These are skills students should be required to practice every homework assignment.  Students should have to check their code (and tests!) into a repository, and every assignment should be peer reviewed by a student or two before the teacher touches it.  Additionally, I wish I had more experience with large group programming projects&mdash; I never had an assignment that involved more than two people or took more than a week.</p></li>

            <li><h3>I Love Mozilla</h3>
            <p>I had two requirements when looking for a job&mdash; I wanted a company big enough that my parents would have heard of it, while still being
            relatively small.  I didn't even think of Mozilla&mdash; however, hiding behind their awesome browser is an even more awesome company.  It's a <a
              href="http://en.wikipedia.org/wiki/Mozilla_Foundation">non-profit</a> that is obsessed with making the world a better place.  I'm surrounded by
            awesome people, at a job I love.  I really am lucky, and appreciate the people at Mozilla who gave me this opportunity.</p>

            </li>

            <li><h3>I Have A Ton More To Learn</h3>
            <p>Being surrounded by so many brilliant people at Mozilla has been a truly sobering experience.  I had slowly become complacent over the past few
            years.  While I programmed daily, I never really pushed myself to learn new languages and techniques.  Being at Mozilla has invigorated my passion
            for learning&mdash; and when I have questions, it certainly helps that I work with the <a
              href="http://www.flickr.com/photos/morgamic/5270549462/sizes/l/in/photostream/">most gifted programmers</a> on the planet.</p></li>
</ol>
<div id="big2011">
  <span class="a">2</span><span class="b">0</span><span class="c">1</span><span class="d">1</span>
</div>
<span class="nye_end"></span>
{% endblock %}

{% block content_css %}
<style>

nav.main {
     color: #070B15;
}
nav.main a {
    text-shadow: 1px 1px 0 #222;
     color: #91AAC8;
}

nav.main a:hover {
    color: #fff;
}

nav.main a.current {
     color: #FFFFFF;
}


  body {
    background-image: url("/assets/buildings_pattern.png");
  }

  footer {
  background-color: #051726;
    position: relative;
    z-index: 1000;
}

.mobile #nye_container {
  display: none;
}

#nye_container {
  pointer-events: none;
    height: 100%;
    left: 50%;
    margin-left: -100px;
    position: fixed;
    top: 0;
    width: 200px;
    z-index: 100;
}

#nye_ball {
background-color: #999999;
    background: -moz-radial-gradient(60px 60px , #E5E5E5, #999999 127px, #CCCCCC 330px) repeat scroll 0 0 transparent;
    background: -webkit-radial-gradient(60px 60px , #E5E5E5, #999999 127px, #CCCCCC 330px) repeat scroll 0 0 transparent;

    border-radius: 200px;
    box-shadow: 0 0 30px #042930;
    height: 200px;
    width: 200px;

}

#nye_ball div {
    border: 1px solid rgba(70, 70, 70, 0.1);
    -moz-border-radius: 200px;
    height: 200px;
    position: absolute;
    width: 200px;
}

#nye_ball span {
text-shadow: 0pt 0pt 3px rgb(85, 85, 85); color: rgb(170, 170, 170); font-size: 192px; text-align: center; display: block; line-height: 154px; z-index: 1000; position: absolute; width: 200px;
}
.bar {
    background-color: #2F4358;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin-left: 87px;
    position: absolute;
    width: 25px;
}

.magazine_meta {
  height: 2.5em;
  color: #A0ADC8;
}

.magazine_meta a {
  text-decoration: none;
}
.magazine_meta a:hover {
  color: #fff;
}

.magazine_meta div {
    float: left;
    padding-top: 8px;
    width: 550px;
}

.magazine_meta .meta_author {
    text-align: right;
  }

.magazine_meta .meta_date {
    padding-left: 100px;
    text-align: left;
}
.magazine_meta .meta_date span {
  color: #A0ADC8;
}

.magazine_body {
     margin: 2em 0pt;
}
.magazine_body ol.cd {

margin: 0;
padding: 0;
list-style: none;
}
.magazine_body ol.cd li {
margin: 0;
padding: 0;
}

.screen .magazine_body ol.cd li {
margin-top: -100px;
    width: 420px;
  min-height: 250px;
}


.screen .magazine_body ol.cd li:nth-child(2n+1) {
    margin-left: 760px;
}

.magazine_body ol.cd li h3 {
    font-size: 25px;
    line-height: 1.8em;
    text-align: left;
  }

.nye_on {
  color: red !important;
}

#article {
    width: auto;
}
.magazine_body {
    margin: 2em auto 0;
    padding-bottom: 2em;
}

.screen .magazine_body,
.screen .magazine_nav,
h2.things {
    width: 1200px;
    }

.magazine_nav {
  margin: auto;
    background-color: #05192C;
    border-color: #243E56;

}
.magazine_nav .prev, .magazine_nav .next {
    color: #FFFFFF;
  }

.buildings {
    background-position: top center;
    background-image: url("/assets/buildings_back.png");
    height: 152px;
    position: relative;
    top: 171px;
}
.buildings div {
    background-position: top center;
    background-image: url("/assets/buildings_front.png");
    height: 142px;
    position: relative;
    top: 10px;
}
#container {
  border-bottom: 1px solid #4F6F8E;
  border-top: 1px solid #4F6F8E;
    background-image: url("/assets/bg.png");
}

.magazine_body_container {
    background-image: url("/assets/buildings_pattern.png");
    margin-top: -97px;
    padding-top: 97px;
}

.screen #starburst {
    background-image: url("/assets/starburst.png");
    background-repeat: no-repeat;
    height: 331px;
    left: 50%;
    margin-left: -540px;
    position: absolute;
    top: 17px;
    width: 1080px;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    -moz-transition: opacity 2s;
}
#starburst.off {
  opacity: 0;
}
#header_spread h1 span,
#header_spread .subtitle_text {
  text-shadow: 1px 1px 0 #222;
}
#header_spread h1 {
    color: #BEBFD3;
}
a#logo.small:hover #header_spread h1 {
    color: #FFFFFF;
}
#header_spread div.subtitle {
    color: #87A1C1;
    text-shadow: none;
}
#header_spread div.subtitle .amperstand,
a#logo.small:hover #header_spread .amperstand {
    color: #EEEEEE;
}


.magazine_body .intro {
     color: #FFFFFF;
     text-shadow: 1px 1px 0pt #000000;
     width: 450px;
}

.magazine_body ol.cd li {
     color: #5E657A;
}

.magazine_body ol.cd li.nye_on {
     color: #FFFFFF ! important;
     text-shadow: 1px 1px 0pt #000000;
}

.magazine_body a {
     border-bottom: 1px solid #3B4A58;
     color: #5E657A;
     text-decoration: none;
}

.magazine_body a:hover {
     color: #FFFFFF;
}

.magazine_body .nye_on a {
     border-bottom: 1px solid #174268;
     color: #5DBBFE;
     text-decoration: none;
}

.magazine_body .nye_on a:hover {
     color: #FFFFFF;
}

.magazine_body p {
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",sans-serif;
  font-size: 15px;
}

.text p:first-child:first-letter {
color: #602929;
  font-family: "adobe-garamond-pro-1","adobe-garamond-pro-2","Garamond","Times New Roman","Droid Serif","Serif";
}

/* Pictures */
.pic1, .pic2 {
  display: block;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    border: 6px solid #FFFFFF !important;
    box-shadow: 1px 1px 6px #000000;
    max-width: 90%;
    margin-bottom: 1em;
  }

.pic1 img, .pic2 img {
  max-width: 100%;
}

  .pic2 {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
  }

/* List styling */
ol.cd {
    counter-reset: item 11;
    list-style-type: none;
    position: relative;
}
ol.cd > li {
    counter-increment: item -1;
}
ol.cd > li:before {
    background-color: #071C2D;
    border-radius: 45px 45px 45px 45px;
    content: counter(item, decimal);
    float: left;
    font-family: Baskerville;
    font-size: 33px;
    font-weight: bold;
    height: 45px;
    line-height: 1.35em;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    width: 45px;
    box-shadow: 1px 1px 1px #071C2D;
  }
ol.cd > li.nye_on:before {
  background-color: #602929;
}

/* Title */
h2.things {
    margin: 161px auto auto;
    text-align: right;
}
h2.things .tk-lobster {
    text-shadow: 5px 5px 5px #05192C;
    color: #FFFFFF;
    font-size: 60px;
}
h2.things .sub {
    color: #556F88;
    display: block;
    font-size: 24px;
    margin-top: -9px;
}

/* 2011 */
#big2011 {
    color: #697E8E;
    font-family: Verdana;
    font-size: 200px;
    font-weight: bold;
    height: 180px;
    letter-spacing: -14px;
    line-height: 200px;
    position: relative;
    text-align: center;
    z-index: 10000;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
  pointer-events: none;
}
#big2011.on {
  color: #fff;
}

#big2011 .a {
    text-shadow: 12px -4px 0 #051422;
}

#big2011.on .a {
     text-shadow: 3px -1px 0pt #888888, 6px -2px 0pt #666666, 9px -3px 0pt #444444, 12px -4px 0pt #222222, 0pt 0pt 50px #214D74;
}

#big2011 .b {
      top: 5px;
     letter-spacing: -11px;
     position: relative;
    text-shadow: 5px -8px 0 #051422;
}

#big2011.on .b {
     text-shadow: 2px -2px 0pt #888888, 3px -4px 0pt #666666, 4px -6px 0pt #444444, 5px -8px 0pt #222222, 0pt 0pt 50px #214D74;
     }

#big2011 .c {
top: 5px;
     letter-spacing: -30px;
     position: relative;
    text-shadow: -5px -8px 0 #051422;
}
#big2011.on .c {
     text-shadow: -2px -2px 0pt #888888, -3px -4px 0pt #666666, -4px -6px 0pt #444444, -5px -8px 0pt #222222, 0pt 0pt 50px #214D74;
     }
#big2011 .d {
    text-shadow: -12px -4px 0 #051422;
}
#big2011.on .d {
     text-shadow: -3px -1px 0pt #888888, -6px -2px 0pt #666666, -9px -3px 0pt #444444, -12px -4px 0pt #222222, 0pt 0pt 50px #214D74;
     }

.nye_end {
 margin-top: -45px;
 display: block;
 height: 1px;
}

</style>
{% endblock %}

{% block content_js %}
<script>
  function initBoth() {
  }

  function initScreen() {
    jQuery(window).ready(function(){
      var start = jQuery('.nye_start'),
        end = jQuery('.nye_end'),
        nye_ball = jQuery('#nye_ball'),
        start_offset = 0,
        end_offset = 0,
        inside = false,
        first_run = true,
        window_height = 0,
        ball_height = nye_ball.height(),
        list_elements = $('.magazine_body ol.cd li'),
        list_elements_bottom = {},
        list_elements_offset = {},
        current = 0,
        ball_offset = 0,
        ball_offset_middle = 0;

      function regeneratePositions(){
        start_offset = start.offset()['top'];
        end_offset = end.offset()['top'];
        window_height = $(window).height();

        list_elements_bottom = {};
        list_elements_offset = {};

        $.each(list_elements, function(k, v) {
          list_elements_offset[k] = $(this).offset()['top'];
          list_elements_bottom[k] = $(this).offset()['top'] + $(this).height();
        });

        if(!$('#nye_container').children('#nye_ball').length) {
          nye_ball.css({
            'left': $('#nye_container').offset()['left'],
          });
        }
      }

      jQuery(window).load(regeneratePositions).resize(regeneratePositions);
      regeneratePositions();

      jQuery(document).unbind("scroll").bind("scroll", function () {
        function highlightElement(){
          var window_scroll = $(window).scrollTop();

          ball_offset_middle = ball_offset + (ball_height / 3);

          // Figure out which one to light up
          var window_scroll = $(window).scrollTop();

          ball_offset_middle = ball_offset + (ball_height / 3);

          if(ball_offset_middle < list_elements_offset[current] - window_scroll ||
             ball_offset_middle > list_elements_offset[current + 1] - window_scroll) {
            var new_current = 0;
            $.each(list_elements_offset, function(i, element_offset){
              if(element_offset - window_scroll > ball_offset_middle) {
                return false;
              }
              new_current = i;
            });

            $(list_elements[current]).removeClass('nye_on');

            current = parseInt(new_current);
            $(list_elements[current]).addClass('nye_on');

          }

        };

        var top_offset = start_offset - $(this).scrollTop();

        inside = inside || first_run;

        if (top_offset <= 0) {

          ball_offset = 0;

          ball_top = 0;
          ball_bottom = window_height - ball_height;

          ball_offset = ((top_offset * -1) / (end_offset - window_height - start_offset)) * ball_bottom;

          if (ball_offset > ball_bottom && inside) { /* Reached bottom, pop it out */
            inside = false;
            nye_ball.insertAfter('#nye_container').css({
              'position': 'absolute',
              'top': end_offset - ball_height,
              'left': $('#nye_container').offset()['left'],
              'z-index': 1000
            });
            $('#big2011').addClass('on');

            highlightElement();
            $('#starburst').addClass('off');

            } else if(ball_offset <= ball_bottom && ball_offset <= ball_bottom) {
            if (!inside) {
              nye_ball.appendTo('#nye_container').css({
                'position': 'absolute',
                'top': 0,
                'left': 0,
                'z-index': 1000
              });
              inside = true;
            }
            nye_ball.css({
              'top': ball_offset
            });

            highlightElement();
            $('#starburst').addClass('off');
            $('#big2011').removeClass('on');
          }
          } else if (top_offset > 0 && inside) {

          nye_ball.insertAfter('#nye_container').css({
            'position': 'absolute',
            'top': start_offset,
            'left': $('#nye_container').offset()['left'],
            'z-index': 1000
          });
          inside = false;
          $('#starburst').removeClass('off');
          $('#big2011').removeClass('on');
          highlightElement();
        }
        first_run = false;
      }).trigger('scroll');

    });

  }

  function initMobile() {
  }
</script>
{% endblock %}

{% block preview %}
<div class="parallax">
  <div class="preview_back">
    <div class="preview_middle">
    </div>
      <div class="preview_front">
      </div>
  </div>
</div>
{% endblock %}

{% block preview_css %}
#namespace .preview_back {
  background-color: #94a3b1;
  width: 260px;
  height: 150px;
}

#namespace .preview_middle {
  top: 0;
  left: 0;
  position: absolute;
    background-image: url("/assets/preview_middle.png");
    width: 260px;
    height: 150px;
    opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
}

#namespace:hover .preview_middle {
  opacity: 0.1;
}

#namespace .preview_front {
    background-image: url("/assets/preview_front.png");
    height: 132px;
    margin-top: 31px;
    width: 260px;
  top: 0;
  left: 0;
  position: absolute;
}
{% endblock %}

{% block preview_js %}
function preview() {
}
{% endblock %}
