{% extends template %}

{% block title %}The Mozilla Mission (Or, Why We're Cool With Chrome){% endblock %}

{% set short_title = "The Mozilla Mission" %}

{% block header %}
<div id="logo_fx"></div>
<h1 class="meta">
  The Mozilla Mission
</h1>
<h2 class="meta">(Or, Why We're Cool With Chrome)</h2>
{% endblock %}

{% block content %}
<p>
I have been an avid Firefox user for the past six years. More importantly, I currently earn my livelihood as
an employee of
the Mozilla Corporation.  And most importantly, I think you <em>should</em> use Firefox 4.  It's an amazing piece of software, and I truly think it is the best
browser on the market.</p>

<p>However, Mozilla is about more than just Firefox.  You can use Chrome, and still support the Mozilla Mission.  It is about <em>choice</em>.  Currently, in large part due to Mozilla and its Mission, you now have that.</p>

<p><em>(Naturally, I do not speak for Mozilla.  I wanted to write about both Firefox 4 and my experiences thus far at Mozilla, and the Mission is what has
  intrigued me the most.)</em></p>

<h3>The Mozilla Mission</h3>
<blockquote>The Mozilla project is a global community of people who believe that openness, innovation, and opportunity are key to the continued health of the Internet. We have worked together since 1998 to ensure that the Internet is developed in a way that benefits everyone. As a result of the community's efforts, we have distilled a set of principles that we believe are critical for the Internet to continue to benefit the public good. These principles are contained in the Mozilla Manifesto.</blockquote>
<cite><strong><a target="_blank" href="http://www.mozilla.org/about/manifesto">The Mozilla Manifesto</a></strong></cite>

<p>
A lot of people know that Firefox is open source.  Most people, however, are surprised to learn that Mozilla is a nonprofit organization.  We are the only browser to
be run by a nonprofit, and we are the only major browser to not be run by a billion dollar corporation.  This puts us in a unique position.  &#8220;As a
non-profit organization, we define success in terms of building communities and enriching people's lives instead of benefiting shareholders. We believe in the
power and potential of the Internet and want to see it thrive for everyone, everywhere.&#8221;(((<a target="_blank" href="http://www.mozilla.org/about/mission.html">The Mozilla
  Mission</a>))).  Note that there is not a single mention of <em>highest market share</em> or even <em>Firefox</em> anywhere in our Mission.  To borrow a line
from Tron, our primary goal is the &#8220;fight for the User.&#8221;</p>

<h3>The History of Mozilla</h3>

<p>It's hard to remember what the Internet was like before Firefox.  During the first <a target="_blank"
  href="http://en.wikipedia.org/wiki/Browser_wars#The_first_browser_war">Browser War</a>, Microsoft destroyed Netscape, and peaked at 96% of web browser usage.
This meant that 96% of access to the Internet was controlled by Microsoft.  Standards were ignored in favor of proprietary features, and the entire browser
market faced severe stagnation for over 5 years.</p>

<p>Netscape, having been defeated by Microsoft and left with a negligable market share, open sourced their code under the watch of the newly formed Mozilla
Foundation.  These days, Mozilla is a fairly large and well known company.  However, at the time, it was a small community taking on one of the largest and most
powerful software companies on the planet.</p>

<h3>Why You <em>Shouldn&rsquo;t</em> Use Firefox</h3>

<p>It comes down to <strong>choice</strong>. Thanks to Mozilla, you have a choice.

<blockquote>This is the world we wanted, and the world we made. We
wanted a world where people &mdash; normal human beings &mdash; could make meaningful choices about the browser technology that they use. That's what we have
today.</blockquote>
<cite><strong>John Lilly</strong>, Former Mozilla Corporation CEO, as quoted by <a target="_blank"
    href="http://www.nytimes.com/2009/07/26/technology/companies/26mozilla.html">The New York Times</a></cite>

<p>So, maybe you like Google's minimalistic approach to design. Try Chrome.  Perhaps you want incredibly tight integration with your OS.  Use Internet Explorer or Safari.
Suppose you want everyone you've ever met <a href="http://www.searchenginepeople.com/wp-content/uploads/2010/11/rockmelt.jpg">staring back at you while you browse</a>.  Lucky for you, there's RockMelt.  The point is that you have a choice, and that is exactly what Mozilla has always been about.</p>

<p>You no longer are tied to a single browser because your favorite website is <em>Best Viewed in Internet Explorer</em>.  Specific browser vendors can't use
their browsers to serve their own purposes, as they know their users have a number of high quality alternatives.  If you truly prefer Internet Explorer or
Safari or Chrome or Firefox, nothing is stopping you from using it.</p>

<p>These days, we tend to forget how far we have come.  We pick browsers because run a few milliseconds faster on a certain benchmark, or because we like the way the tabs are curved.
We forget how lucky we are to have the ability to make choices like this&mdash; a decade ago, you either used Internet Explorer or you didn't use the Internet.</p>

<h3>Okay, Why You Really <em>Should</em> Be Using Firefox</h3>
<p>
Firefox 4 is an amazing way to browse the web.  It is blazingly fast, impeccably designed and completely customizable.
</p>
<img src="../assets/browser.png">
<p><strong>Customizable:</strong> When comparing features among browsers, it is easy to forget that there are over 200,000 add-ons you can use to enhance
Firefox.  You can give your browser a Chrome-like <a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/omnibar/">Omnibar</a>, a Safari-like <a target="_blank"
  href="https://addons.mozilla.org/en-us/firefox/addon/speed-dial/">start page</a>, or a RockMelt-like <a target="_blank" href="http://f1.mozillamessaging.com/">way of
  sharing</a>.  You can make Firefox look like <a target="_blank" href="https://addons.mozilla.org/en-us/firefox/addon/ace-foxdie-graphite/">Chrome</a>, <a target="_blank"
  href="https://addons.mozilla.org/en-us/firefox/addon/ace-foxdie-graphite/">Safari</a> or even your <a target="_blank"
  href="http://www.getpersonas.com/en-US/persona/242688">13 year old sister's bedroom</a>.  Anything on the browser can be dragged around, changed or removed.</p>
<p><strong>Privacy: </strong> One of the biggest complaints about Firefox is the lack of an Omnibar (combined address and search bar).  This is done for a
reason, however&mdash; it prevents everything you type in the URL bar from being sent to Google.  In Chrome, everything you do is stored on Google's servers,
unencrypted.  Firefox also implemented <a target="_blank" href="http://blog.mozilla.com/blog/2011/02/08/mozilla-firefox-4-beta-now-including-do-not-track-capabilities/">Do Not
Track</a>, which is like a Do Not Call list for ads that track you.  Your privacy is incredibly important to Mozilla.</p>
<p><strong>Sync:</strong> My favorite feature is sync.  It lets you sync passwords, history and bookmarks across multiple browsers and phones.  You can open up
a tab, walk away from your computer, and have that tab on your phone.  Additionally, unlike Chrome, everything is completely encrypted.  Mozilla has absolutely
no access to your history, even if subpoenaed.  Google, on the other hand, stores your browsing history in plain text on their servers.</p>
<p><strong>Pinned Tabs:</strong> Not a huge feature, but nice if you leave GMail or Twitter open.  Combined with <a target="_blank"
  href="https://addons.mozilla.org/en-US/firefox/addon/easy-app-tabs/">Easy App Tabs</a>, <a target="_blank"
  href="https://addons.mozilla.org/en-US/firefox/addon/aaapptabs/">Aaapptabs</a> and <a target="_blank" href="https://mail.google.com/mail/?shva=1#settings/labs">Unread message
  icon (GMail Labs)</a>, it's quite handy.  When the page changes, the pinned tab glows.</p>
<p><strong>Switch To Tab:</strong> It's easy to end up with 50 tabs, which quickly becomes a huge mess.  Yes, there is now Panorama, which lets you drag, group
and organize tabs.  However, my favorite way to fight tab bloat is the new "Switch To Tab" feature.  Let's say you have Twitter open.  If you open a new tab and
start typing "twitter", the first option will let you switch to the Twitter tab rather than opening a new one.  You can also search open tabs from the Awesomebar by typing something like "% twitter."</p>
<p><strong>The Rest:</strong> There are a <a target="_blank" href="http://www.cio.com/article/677530/10_Things_to_Drool_Over_in_Firefox_4">ton of new features</a> that have
been added to a long list of <a target="_blank" href="http://www.mozilla.com/en-US/firefox/features/">classic Firefox features</a>.  You should definitely check Firefox 4 out if you haven't already.  I promise, you won't be disappointed.</p>

<h3>Conclusion</h3>
<p>So, that is why you don't have to use Firefox 4.  You should definitely try it&mdash; I guarentee you will like it.  However, if you truly prefer Chrome, Safari or Opera, use it.  Which browser you use comes purely down to personal preference,
and is no longer a choice forced upon you.  The fact that you have an equal choice that is what is important to Mozilla and its Mission.</p>

<a target="_blank" href="http://www.mozilla.com/products/download.html" id="download" class="meta">Download Firefox 4</a>
<p class="download_other">And, in the spirit of this article: &nbsp;<a target="_blank" href="http://www.google.com/chrome/index.html?">Chrome</a> &middot; <a target="_blank" href="http://www.apple.com/safari/">Safari</a>
&middot; <a target="_blank" href="http://www.opera.com/">Opera</a>(((I didn't include Internet Explorer because I don't believe it is a proper alternative.  While it has come a long way since IE6, it is still far behind the other "modern browers".)))</p>

{% endblock %}

{% block content_css %}
<style>
  body {
    background-color: #0F0B2B;
  }

  .magazine_body a, .magazine_body a:active, .magazine_body a:visited {
    color: #DE7211;
    text-decoration: none;
  }

  .magazine_body a:hover {
    color: #5DA0AB;
    border-bottom: 1px solid #FFF;
  }

  .magazine_nav {
    color: #8D9CAE;
  }

  .magazine_nav a.prev,
  .magazine_nav a.next,
  .magazine_meta a {
    color: #fff;
    text-decoration: none;
  }

  .magazine_meta a:hover {
    color: #5DA0AB;
  }

  #container {
    background-image: url('../assets/bg.png');
    background-repeat: repeat-x;
    background-color: #010113;
    border-top: 1px solid #151A36;
  }

  #logo.small #header_spread div.subtitle,
  .amperstand {
    color: #AAA;
    text-shadow: none;
  }

  a#logo.small #header_spread h1 {
    color: #DDD;
  }

  a#logo.small:hover #header_spread h1 {
    color: #fff;
  }

  a#logo.small:hover,
  a#logo.small:hover #header_spread div.subtitle .subtitle_text,
  a#logo.small:hover #header_spread div.subtitle,
  a#logo.small:hover #header_spread .amperstand {
    color: #AAA;
  }

  #logo.small .logo,
  #logo.small:hover .logo {
    background-color: #fff;
  }

  #logo.small .logo div svg polygon {
    fill: #08072A;
  }

  #logo.small .logo div,
  a#logo.small:hover .logo div {
    background-color: #fff;
    border-color: #000;
    color: #080729;
  }

  nav.main {
    color: #ddd;
  }

  nav.main a {
    color: #97A2B8;
  }

  nav.main a:hover {
    color: #fff;
  }

  nav.main a.current {
    color: #fff;
  }

  #logo_fx {
    pointer-events: none;
    background-image: url('../assets/logo.png');
    height: 413px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -67px;
    width: 501px;
  }

  .magazine_header h1 {
    font-size: 60px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -141px;
    color: #fff;
    text-shadow: 0 0 25px #C0C2EF;
  }

  .magazine_header h2 {
    color: #8D9CAE;
    font-size: 27px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 25px #C0C2EF;
    top: -145px;
  }

  h3 {
    color: #FFFFFF;
    font-size: 31px;
    text-align: center;
    text-shadow: 0 0 15px #CCCCCC;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .text p:first-child:first-letter {
    color: #DE7211;
    font-family: Georgia, Garamond, Times New Roman, Serif;
  }

  .text p {
    color: #DDDDDD;
  }

  .text p,
  .text blockquote,
  .text cite {
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",sans-serif;
    font-size: 15px;
    font-weight: normal;
  }

  .text cite strong {
    color: #eee;
  }

  .text p.download_other {
    color: #999999;
    font-size: 14px;
    text-align: center;
  }

  #download {
    -moz-transition: box-shadow 0.2s ease-in-out 0s;
    background: -moz-linear-gradient(center top , #84C63C 0%, #489615 100%) repeat scroll 0 0 transparent;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
    color: #FFFFFF;
    display: block;
    font-size: 26px;
    font-weight: bold;
    height: 46px;
    line-height: 38px;
    margin: auto;
    overflow: visible;
    text-align: center;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    width: 300px;
    border: 0;
  }

  #download:hover {
    -moz-transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: 0 3px rgba(0, 0, 0, 0.15), 0 -4px rgba(0, 0, 0, 0.15) inset, 0 0 80px rgba(0, 0, 0, 0.3) inset;
  }

  .footnotes {
    color: #aaa;
    border-top-color: #aaa;
  }

  .mobile h1, .mobile h2{
    padding: 0 10px;
    top: -100px;
  }

  .mobile #logo_fx {
    background-position: center center;
    background-repeat: no-repeat;
    top: -42px;
    width: auto;
  }

  .mobile #download {
    width: 90%;
  }

</style>
{% endblock %}

{% block content_js %}

{% endblock %}

{% block preview %}
<div class="parallax">
  <div class="logo_fx"></div>
</div>
{% endblock %}

{% block preview_css %}
  #namespace .parallax {
    background-color: #C2DDF2;
    -webkit-transition: background-color 0.3s ease-in-out ;
    -moz-transition: background-color 0.3s ease-in-out;
  }

  #namespace:hover .parallax {
    background-color: #AAC9E1;
  }

  #namespace .logo_fx {
    background-image: url('assets/fx.png');
    width: 270px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: 87px -41px;
  }

{% endblock %}

