{% extends template %}

{% block title %}Awesome Title!{% endblock %}

{% block content %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo risus, placerat ac aliquam quis, convallis eget magna. Phasellus vel suscipit nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie sagittis luctus. Maecenas lacinia, dui non congue fringilla, nisi quam pharetra mauris, quis bibendum turpis mauris sed eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet pharetra massa ac scelerisque. Mauris fringilla, neque ut fermentum pretium, metus nunc fringilla mi, a interdum est ipsum in libero. Aliquam quis libero eget nunc suscipit tincidunt. Integer vehicula eleifend tellus eget pharetra. Donec sit amet turpis felis. Donec mauris mi, luctus tincidunt lobortis et, mollis eu odio.
{% endblock %}

{% block content_css %}
a {

}

.site a {

}

.mobile a {

}
{% endblock %}

{% block content_js %}
function initBoth() {

}

function initScreen() {

}

function initMobile() {

}
{% endblock %}

{% block preview %}

{% endblock %}

{% block preview_css %}
  #namespace {

  }
{% endblock %}

{% block preview_js %}
function preview() {
  console.log($el);
}
{% endblock %}
