{% extends template %}

{% block title %}The MySpace Mentality{% endblock %}

{% block preview %}Over the past few months, I have been redesigning the website for my high school.   I spent hours making sure it was exactly how I wanted it,
right down to the last pixel.{% endblock %}

{% block content %}<p>Over the past few months, I have been redesigning the website for my high school.  I spent hours making sure it was exactly how I wanted
it, right down to the last pixel.  In my opinion, it came out really well.  It was huge improvement over the current website, and probably my favorite design I have ever done.</p>

<p>Proud of my work, I began to show it off to people from my high school.  Their reactions varied&mdash; some thought it was okay, while others said they hated it.  Nobody, however, liked it.</p>

<p>I was outraged&mdash; how could they think the current clunky 1990s-style Dreamweaver-made eyesore was better than my clean, usable redesign?</p>

<p>But the more I thought about it, though, the more I realized they were not wrong. I was.  I have spent too much time looking at web startups and CSS galleries, and am out of touch with how real people perceive web design.</p>

<p>People in the tech world mock MySpace, and the horrible layouts it hosts.  However, most people have a "MySpace Mentality" in regards to design.  After all, every designer has a Geocities site to prove they started the same way.</p>

<p>When people saw my redesign, they thought it was "plain" and "not colorful enough."  What I thought of as white space, they thought of as room for a few more
blinking GIFs.  What I saw as good typography, a subtle color pallet, and usable navigation, they saw as boring.</p>

<p>In the real world, people like Comic Sans&mdash; it's playful.  They like moving and flashing things&mdash; it's engrossing.  They like clashing bright
colors&mdash; it's eye catching.</p>

<p>It was depressing to realize this.  What I considered a beautiful layout was considered plain and boring by everyone else.  Non designers have a "more is better" approach when it comes to design.  The more information and images and colors you can fit into the browser, the better the layout.</p>

<p>People don't make "bad" MySpace layouts because they can't do any better&mdash; they do it because they actually like it that way.</p>

<p>So, my high schools site is now being redesigned and implemented by a non-developer and non-designer, and it's going to be done in Dreamweaver.  And most people will probably like it more.</p>

<p>Hey, at least now I have something nice for my portfolio.</p>{% endblock %}
