{% extends template %}

{% block title %}Don Not Be An Idea Person{% endblock %}

{% block preview %}Probably the worst thing you can be is an<em> idea person</em>.   I constantly meet people who will tell me about their next big thing.{% endblock %}

{% block content %}<p>Probably the worst thing you can be is an<em> idea person</em>.  I constantly meet people who will tell me about their next big thing. 
So, I ask, how will you implement it?  Oh, I am just the idea person, they smugly reply, I will leave that to the programmers.  There are humble idea people, no
doubt.  I am just yet to meet any.  They all seem to treat programmers and designers as lowly tools, waiting for an idea person to save them.</p>
<p>Coming up with ideas is easy&mdash; I have come up with a good half a dozen ideas today.  I am sure you have, too.  And I could not even begin to count how
many times I have read about a company on TechCrunch or GigaOM, and thought to myself&mdash; wow, I thought of that idea a while ago.</p>
<p>But ideas are the easy part&mdash; anyone can come up with a few dozen ideas in no time.  The impressive part is sticking with the idea.  Finding the right people to help with it.  Making it.  Selling it.  Tweaking the little aspects to perfection.</p>
<p>There is no pride in coming up with an idea.  Ideas take a few seconds.  Making it happen takes years of hard work.</p>
<p>Do not be an idea person.</p>{% endblock %}
