{% extends template %}

{% block title %}Don't Be an Idea Person{% endblock %}

{% block preview %}Probably the worst thing you can be is an<em> idea person</em>.   I constantly meet people who will tell me about their next big thing.{% endblock %}

{% block content %}<p>Probably the worst thing you can be is an<em> idea person</em>.  I constantly meet people who will tell me about their next big thing.  So, I ask, how will you implement it?  Oh, I'm just the idea person, they smugly reply, I'll leave that to the programmers.  There are humble idea people, no doubt.  I'm just yet to meet any.  They all seem to treat programmers and designers as lowly tools, waiting for an idea person to save them.</p>
<p>Coming up with ideas is easy- I've come up with a good half a dozen ideas today.  I'm sure you have, too.  And I couldn't even begin to count how many times I've read about a company on TechCrunch or GigaOM, and thought to myself- wow, I thought of that idea a while ago.</p>
<p>But ideas are the easy part- anyone can come up with a few dozen ideas in no time.  The impressive part is sticking with the idea.  Finding the right people to help with it.  Making it.  Selling it.  Tweaking the little aspects to perfection.</p>
<p>There's no pride in coming up with an idea.  Ideas take a few seconds.  Making it happen takes years of hard work.</p>
<p>Don't be an idea person.</p>{% endblock %}