{% extends template %}

{% block title %}"I had that idea, too"{% endblock %}

{% block preview %}The more I talk to people, the more I hear and say the phrase "I had that idea, too. "  I rarely hear "I did that", though.{% endblock %}

{% block content %}<p>The more I talk to people, the more I hear and say the phrase "I had that idea, too."  I rarely hear "I did that", though.</p>

<p>Ideas are easy.  You can come up with ten good ideas right now.</p>

<p>The problem is you did not execute.  That is not a bad thing- nobody has time to make every idea they think of happen.</p>

<p>The people who succeed are the ones who pick the best of their ideas, and let the rest go.</p>

<p>So, next time someone tells you their idea, do not reply "I had that idea, too."  Instead, be proud of the ideas you did pick to execute.</p>

<p>And, do not feel bad if you tell someone your idea, and they say "I had that idea, too."  It does not cheapen your idea.  If anything, it is confirmation it might have a market, since someone else thought of it.  They were not the right person to execute the idea- if they were, they would have.</p>

<p>If you are the right person, make it happen.</p>{% endblock %}