{% extends template %}

{% block title %}The Portfolio Rule{% endblock %}

{% block preview %}I have a simple rule when it comes to deciding if a design is finished: would I put it in my portfolio?

I used to be pretty good at convincing myself my latest work was "good enough"- deadlines, boredom and difficulty definitely encourage such rationalization.   I used to ignore that voice in the back of my mind that said it just wasn't there yet.{% endblock %}

{% block content %}<p>I have a simple rule when it comes to deciding if a design is finished: would I put it in my portfolio?</p>

<p>I used to be pretty good at convincing myself my latest work was "good enough"- deadlines, boredom and difficulty definitely encourage such rationalization.  I used to ignore that voice in the back of my mind that said it just wasn't there yet.  Since I started trusting my gut instinct, I've found myself asking "what was I thinking?" a lot less often.</p>

<p>Everyone will tell you "bad isn't the enemy of good, perfection is"- and that's definitely true.  But all to often, it's used as a cop-out.  An excuse to release something that's not quite up to par.</p>

<p>So, next time you're wondering if you're done- is it good enough to land you your next gig?  Are proud enough to put it in your portfolio?  And, of course- remember to be honest.</p>{% endblock %}