{% extends template %}

{% block title %}Hire Developers{% endblock %}

{% block preview %}I'm biased.   As a developer, of course I am pro-developer.{% endblock %}

{% block content %}<p>I'm biased.  As a developer, of course I am pro-developer.  However, I don't see any reason why you shouldn't hire a developer for as many positions as possible.  They don't have to be the worlds greatest programmers, they just need a solid understanding of how to do things on their own.</p>

<p>All companies have little (yet important) tasks for developers.  Gathering statistics, setting up ads, doing A/B tests.  And rather than taking one person X amount of time, it takes two people that same X amount of time.  These things are slightly too hard for non developers (HTML? Databases?), but a time-suck for developers working on bigger projects.</p>

<p>With any decent-sized company, everyone has little jobs for the developers.  These jobs pile up- the developers have to spend time doing these tasks, while everyone else loses time waiting for them.</p>

<p>So, why not hire a developer to do that sales, project management, analytics, or marketing in the first place?</p>{% endblock %}