{% extends template %}

{% block title %}Some CodeIgniter Gotcha's{% endblock %}

{% block preview %}A short list of some things about CodeIgniter that have been ignoring me.{% endblock %}

{% block content %}<p>Maybe I'm doing something wrong.  In fact, for the sake of programming, I hope I am.  But for the life of me, I can't find a single
benefit of PHP frameworks that isn't overshadowed by the negatives.</p>

<p>(<strong>Update</strong>: I have made the switch to Python/Django, and have no intentions of looking back.)</p>

<p>PHP frameworks make it easy to start out&mdash; meaning that, when facing a new project, they seem like a good idea.  You don't have to do all the boring
stuff at first&mdash; and when you are starting a new project, that is a tempting proposition.</p>

<p>This topic deserves a much more thorough analysis (which many before me have done, and I am sure I someday will), however after spending the weekend
struggling with CodeIgniter, I figured I wouldd mention some CodeIgniter-specific problems I have come across.</p>

<h3>Debugging</h3>
<p>When I started programming, things took me a while.  I didn't use frameworks- I did everything from scratch.  However, despite the time commitment,  I was
making progress- it was time consuming, but it wasn't frustrating.  It felt rewarding- plugging along in Notepad.exe, making slow but steady progress.  Then,
things changed.  I started using PHP frameworks- and things started to go downhill. Rather than investing my time in programming, I started spending more and more time debugging.  And debugging became harder- after all, frameworks tend to break native error reporting to a certain extent.</p>
<p>Here is the code:</p>
<code class="brush: php">$this-&gt;load-&gt;model('whatever');</code>
<p>Here's the problem- IDEs and even PHP itself has a hard time following that.  A lot of times, errors will show up as being in the Load or Model classes- not helpful, when you know the actual problem is in your code.</p>
<p>Like, this error:</p>
<code class="brush: php">Filename: libraries/Model.php
Line Number: 70</code>

<p>The error is in my code, not the file/line given.  Where is it?  Your guess is as good as mine- CodeIgniter isn't telling.</p>

<h3>Conventions</h3>
<p>CodeIgniter almost seems to take pride in being illogical when it comes to conventions.  While PHP's conventions may be laughable, CodeIgniter's are prohibitive.</p>
<p>For example, what is the output of this code? (And, let's assume these two lines are on separate pages- otherwise, the cookie wouldn't yet be set.)</p>
<code class="brush: php">set_cookie('test', 'value');
echo get_cookie('test');</code>
<p>I know what you're thinking- and you're wrong.  It's not "test."  For whatever reason (which isn't documented in the documentation), set_cookie() automatically appends the prefix from the config files, while get_cookie() does not.  So, you would have to do the following to get the expected results:</p>
<code class="brush: php">set_cookie('test', 'value');
echo get_cookie('prefix_test');</code>
<p>Great, huh?  I'm sure the reason is so that you can read any cookie, however it makes the whole thing incredibly confusing.</p>
<p>Another example is callbacks.  Maybe this is a standard practice, who knows.  But I don't like it.  In CodeIgniter, for validation, you can specify a rule.  So, something like this:</p>
<code class="brush: php">$rules['email'] = "required|valid_email|unique_email";</code>
<p>The "unique_email" part is a custom function- and it has to be called unique_email_callback.  I have two problems with this.  One, it's not easy to figure out unless you read the docs- code should be easy to follow.  And, secondly, why are these callback functions written as strings?  This is code- I shouldn't be writing out function names as strings.  It makes it much harder to follow.</p>
<h3>Attaching Libraries/Models/etc To Everything</h3>
<p>Maybe the biggest problem is that if you load any sort of library, view, or model- it's attached to every single object.  So, let's say you have an object, with a property called "parent."</p>
<p>So, this code works:</p>
<code class="brush: php">echo $whatever-&gt;parent; // Prints out '3'</code>
<p>Now, somewhere else on your page, in a completely different object, having nothing to do with $whatever, you do this:</p>
<code class="brush: php">$this-&gt;load-&gt;model('parent');</code>
<p>Your old code?  No longer works:</p>
<code class="brush: php">echo $whatever-&gt;parent; // No longer '3'</code>
<p>Does this make sense, to a certain extent?  Yes.  Logically, yes.  But, it is incredibly&mdash; you can't have, for example, a model with a 'section' attribute and also have a 'section' model.  This has caused things to break for me more often that anything else- a perfect example of how changing something in one part of the code can affect something completely unrelated.  Something that doesn't happen with straight up PHP.</p>
<h3>And there's more</h3>
<p>There's more.  Lots more.  And maybe someday, I will document more of the problems I have with frameworks.  Or maybe I'll switch to something better.
(<strong>Edit:</strong> Django!)  But either way- I hate spending a day programming, only to get nothing done.  PHP frameworks are bad at getting out of your
way.  Before frameworks, a day of programming may not have resulted in much, but it went at a steady pace and I knew X hours of programming would equal Y results.  Now, I can spend a whole day trying to get something stupid simple working, with no results.</p>
<p>And I promise- whatever I write for Wednesday, it will be more upbeat!</p>{% endblock %}
