{% extends template %}

{% block title %}The Value of Google Docs{% endblock %}

{% block preview %}Whenever I have an idea for a new company or project, I start a new Google Doc.   I have a few dozen of them- some have full business models and mock ups, while others are merely a line or two.{% endblock %}

{% block content %}<p>Whenever I have an idea for a new company or project, I start a new Google Doc.  I have a few dozen of them&mdash; some have full business models and mock ups, while others are merely a line or two.</p>

<p>It is a great habit to get into.  It is great inspiration to go back to.  There are many ideas I had months ago, but never could get right enough to start on.  Sometimes, months later, the idea finally clicks.  There was something you were missing before, or an angle you did not look at it from.</p>

<p>That Google Doc will store all your ideas, and you can go back and see what you thought of before.</p>

<p>When executing an idea, things change.  The more you think about it and work on it, the further from the original idea you get.  Sometimes, it is useful to go back and see your original ideas.  Often, in your rush to go in a new direction, you forgot a cool feature or idea from the original plan.</p>

<p>You do not have to execute every idea you write down&mdash; that is a fools errand.  However, it is useful to have a reference, since some day it might become relevant.</p>{% endblock %}
