{% extends template %}

{% block title %}What Kind of Company Are You?{% endblock %}

{% block preview %}The biggest problem inside companies is self interest.   The sales team wants to make money, the editorial team wants integrity, the legal team wants to avoid lawsuits, the engineering team wants to use cool technology- the list goes on and on.{% endblock %}

{% block content %}<p>The biggest problem inside companies is self interest.  The sales team wants to make money, the editorial team wants integrity, the legal team wants to avoid lawsuits, the engineering team wants to use cool technology- the list goes on and on.</p>

<p>Does every company need a little bit of everything?  Of course.  However, it's important for companies to decide which is the most important for them.  Otherwise, every department is fighting for the spotlight- and they all end up being at odds with each other.</p>

<p>A company needs to pick that one attribute it wants to strive for- and if it's done well enough, the other qualities will come naturally.  And it's important it only goes for one- trying for numerous of these attributes from the start will result in a company with an unclear direction, which is apparent to consumers.</p>{% endblock %}