{% extends template %}

{% block title %}Job Descriptions{% endblock %}

{% block preview %}Job descriptions tell employees what they can't do.   Take the average job description for a programmer: it relegates them to their IDE, saying they can't do marketing, biz dev, sales, writing or project management.{% endblock %}

{% block content %}<p>Job descriptions tell employees what they can't do.  Take the average job description for a programmer: it relegates them to their IDE, saying they can't do marketing, biz dev, sales, writing or project management.</p>

<p>What this does is put employees in silos- just like a programmer wouldn't take coding advice from a sales guy, marketers won't listen to a techie.</p>

<p>So, how about using this as a job description?</p>
<p><blockquote>Wanted: People who can help us create a kick ass startup.</blockquote></p>
<p>Yes, you need people who can program.  And you need people who can balance the books.  So, throw in something like "* programming experience encouraged" at the end.</p>
<p>It reminds me of how they cast the show Lost:</p>
<p><blockquote>A lot of the casting came out of, like, finding actions they wanted to work with, rather than necessarily fill in a roll.</p>
<p>-<a href="http://www.hulu.com/watch/151610/lost-the-final-journey?c=413:473">Jorge Garcia, Hurley, Lost</a></blockquote></p>
<p>The producers didn't have jobs for much of the cast- many of the characters were created simply because they liked the actors.</p>
<p>What's my point?  When starting a company, don't tie people down to certain tasks.  Ideas and talent will be wasted, and they'll eventually get bored.  Let people decide for themselves how they can best use their talents to help the company.  Sure, some things have to be done to keep the lights on.  However, if you give people the freedom to manage themselves and decide what needs to be done, you might be surprised.  A good enough team will rise to the occasion, and do more than just keep the lights on.</p>{% endblock %}