{% extends template %}

{% block title %}5 Minute Rule{% endblock %}

{% block preview %}When asking for advice, implement a <strong>5 minute rule</strong>.   Don't let anyone advise you until they've thought about it for at least five minutes.{% endblock %}

{% block content %}<p>When asking for advice, implement a <strong>5 minute rule</strong>.  Don't let anyone advise you until they've thought about it for at least five minutes.</p>
<p>It's amazing that people take five minutes to decide what they want from the McDonalds Dollar Menu, yet they're ready to jump in with their take on life or business decisions before you're even done talking.</p>
<p>It doesn't have to be five minutes- thirty seconds, an hour, or a day all work.  The important part is that you're asking the person to think first.</p>
<p>Remember this rule when you're giving advice, too, and you'll instantly become much more thoughtful and helpful.</p>{% endblock %}