{% extends template %}

{% block title %}Job Descriptions{% endblock %}

{% block preview %}Job descriptions tell employees what they can't do.   Take the average job description for a programmer: it relegates them to their IDE.{% endblock %}

{% block content %}<p>Job descriptions tell employees what they can't do.  Take the average job description for a programmer: it relegates them to their IDE, saying they can't do marketing, biz dev, sales, writing or project management.</p>

<p>What this does is put employees in silos&mdash; just like a programmer wouldn't take coding advice from a sales guy, marketers won't listen to a techie.</p>

<p>So, how about using this as a job description?</p>
<blockquote>Wanted: People who can help us create a kick-ass startup.</blockquote>
<p>Yes, you need people who can program.  And you need people who can balance the books, talk to investors or design the site.  So, throw in something like
"____ experience encouraged" at the end.</p>
<p>It reminds me of how they cast the show Lost:</p>
<blockquote>A lot of the casting came out of, like, finding actors they wanted to work with, rather than necessarily fill in a roll.</blockquote>
<cite><strong>Jorge Garcia</strong>, Hurley on Lost (via <a href="http://www.hulu.com/watch/151610/lost-the-final-journey?c=413:473">Hulu</a>)</cite>
<p>The producers didn't have jobs for much of the cast&mdash; many of the characters were created simply because they liked the actor.</p>
<p>What is my point?  When starting a company, don't tie people down to certain tasks.  Ideas and talent will be wasted, and they will eventually get bored.
 Let people decide for themselves how they can best use their talents to help the company.  Sure, some things have to be done to keep the lights on.  Code needs
to be written and meetings need to be attended. However, if you give people the freedom to manage themselves and decide what needs to be done, you might be surprised.  A good enough team will rise to the occasion, and do more than just keep the lights on.</p>{% endblock %}
