{% extends template %}

{% block title %}Change{% endblock %}

{% block preview %}In just a few short months, I'll be moving to California to start work at Mozilla. 

There is a ton of changes I <em>need </em>to make.{% endblock %}

{% block content %}<p>In just a few short months, I'll be moving to California to start work at Mozilla.</p>

<p>There is a ton of changes I <em>need </em>to make.  I need to find a new apartment, a new route to work, and more.  One weird thing I've noticed, however, is how predisposed I now am to making smaller changes.</p>
<p>For example, I get toiletries from the local store.  There will be local stores in San Francisco, that sell the same stuff they sell here for the same price.  However, I decided to switch to <a href="http://alice.com">Alice</a> when I move there.  I'm not doing it out of necessity- I'm doing it merely because I'm already making one big change in my life.  There's a billion other things I plan on changing when I move- simply because I'm in "change mode."</p>
<p>So, what's the takeaway?  Try marketing to people who are already making big changes.  Buy ads with apartment realtors or moving companies.  If someone is in change mode (move, big purchase, etc), they are more likely to change the little things, too.</p>{% endblock %}