{% extends template %}

{% block title %}Amature Evangelists{% endblock %}

{% block preview %}Everyone who visits your site is a potential evangelist for your product&mdash; someone who will go out and vouch for it to their friends.   This is more than just a simple recommendation.{% endblock %}

{% block content %}<p>Everyone who visits your site is a potential evangelist for your product&mdash; someone who will go out and vouch for it to their friends.  This is more than just a simple recommendation.  Evangelizing is a step up; more personal and more passionate.  This is the best form of marketing- it's free, and the message comes from someone the potential user trusts.</p>

<p>So, how can you transform users into evangelists for your product?  Think about the sites you evangelize- what are some things they all have in common?</p>

<p>For me, my list is relatively short.  If we ignore the big ones (Facebook, Gmail, etc), there is <a href="http://twilio.com" target="_blank">Twilio</a>, <a href="http://grooveshark.com" target="_blank">Grooveshark</a>, <a href="http://doodle.com" target="_blank">Doodle</a> and <a href="http://astorybeforebed.com" target="_blank">A Story Before Bed</a>.</p>
<p>Here are some common characteristics:</p>
<h3>They are easy to share</h3>
<p>These products make it easy for users to share content.  Doodle makes it painless to send your polls to people, while Grooveshark makes sharing music
extremely easy.  Most importantly, you can share on your own terms&mdash; via email, social networks, or just a link.</p>
<p>LinkedIn's "Join My Network" emails are annoying&mdash; they are a form of sharing, however they don't offer the user anything (at least, not in the short term).  Doodle and Grooveshark offer the users something they benefit from, instantly.</p>
<p>Both also do a great job of converting people.  Next time someone wants to set up a meeting, they will turn to Doodle.  Next time someones looking to play a song, they will turn to Grooveshark.</p>
<p>Let's look at the competition.  There is a site called TimeBridge, which runs circles around Doodle in terms of features.  However, it is such a pain to use
that very few people will ever want to put themselves through it again.  With Grooveshark, sharing music has been around for ages&mdash; but rarely has it been so easy or pleasant.</p>

<h3>They conform to the user</h3>
<p>Many products try to improve our lives by adding features.  My favorite products, however, just work.  They don not ask me to change my workflow, or do things their way.  They simply fill a void; no more, no less.</p>
<p>Many startups have an "our way is better!" philosophy.  However, this asks us to leave our comfort zones and do things a different way.  Evernote, for example, is a great product.  However, they ask users to go out of their way (even if it is only a minimal amount).  The products I tend to like, rather, merely fill a frustrating void.</p>
<p>Sharing music and scheduling events are all things we do regularly, yet do not have an efficient way to do it.  Bridging a website with a telephone is something many applications need, but never had a way to do.</p>
<p>This is a subtle distinction, and I am not entirely sure I have illustrated it properly.  I think the subtle nature is why most startups fail to nail it,
however.  They feel that they are enhancing users lives, and users should be grateful for the privilege to use their product.  It is a subconscious mentality,
but it is there.</p>
<p>Rather, they should be doing everything they can to conform to the users existing workflow, and make the experience as seamless as possible.  Startups need to realize that the users are doing them the favor, and not the other way around.</p>

<h3>No login</h3>
<p>Doodle and Grooveshark don't make people sign up.  Even for the person creating the poll or sending the music, no signup is required.  This is the reason Craigslist is so huge- nobody has to sign up.  Doodle acts just like Craigslist- you sign up, and you get a link so you can administer your poll.  Unless you really need users to sign up- and, I mean, really need them to- there's no reason to make them.</p>
<p>Give users extra features if they sign up- but don't require it if you don't have to.</p>

<h3>Simple</h3>
<p>Twilio not only fills a void- it does it in a way that is impressively simple.  I wasn't amazed by the functionality- I was amazed by how unbelievably simple it is to use.</p>
<p>Lets say you wanted a way for your customers to call a number, and have a voice tell them (for example) the current weather.  Six months ago, I would have laughed at you.  Now, I can do it in 30 seconds, thanks to Twilio:</p>

<code class="brush: xml">
  &lt;?xml version="1.0" encoding="UTF-8" ?&gt;
  &lt;Response&gt;
  &nbsp;&nbsp;&lt;Say&gt;Hello World.&lt;/Say&gt;
  &lt;/Response&gt;
</code>

<p>Doodle polls are just as simple.  Grooveshark is not as minimalistic as Twilio or Doodle, however the interface is still dead simple.</p>

<h3>The Experience</h3>
<p>So far, I am yet to mention A Story Before Bed.  This is because I like it for different reasons.  It might be simple to use, or any of the other
characteristics I have mentioned before.  However, the reason I like it is the experience.  It is a beautiful site, with a consistent theme.</p>

<h3>The Conclusion</h3>
<p>What makes you want to tell everyone you know about a site?  Think about that, and do your best to replicate it.</p>{% endblock %}
