{% extends template %}

{% block title %}The Necessity of Fat Startups{% endblock %}

{% block preview %}Bootstrapping is admirable, but pretty soon it won't be able to compete with companies funded by old money.{% endblock %}

{% block content %}<p>Recently, there has been an ongoing debate on which is better&mdash; <a
  href="http://gigaom.com/2010/05/25/fat-vs-lean-startups-what-works-on-the-web-is-different/" target="_blank">the lean or fat startup</a>.  A lot has been said
for both sides.  Honestly, it comes down to what is best for the given situation.</p>
<p>One thing we have to look out for that hasn't yet been mentioned: massive offline companies.  They have a ton of money.  To put the $100k or $1 million
investments we see announced on TechCrunch all the time into perspective: Goldman Sachs CEO Lloyd Blankfein got a $53.4 million <em>bonus</em> in 2006.  Imagine
what a tech start-up could do with $53.4 million&mdash; and that was just one <em>bonus</em>.  Once these big companies&mdash; especially the old media
companies&mdash; figure this Internet thing out, lean start-ups are out of luck.</p>
<p>Don't believe me?  Take a look at <a href="http://www.wired.com/entertainment/theweb/magazine/16-10/mf_hulu" target="_blank">the story behind Hulu</a>.  Imagine a lean start-up doing what Hulu managed to do.  You'd end up with, well, <a href="http://en.wikipedia.org/wiki/Joost">Joost</a> or <a href="http://yidio.com">Yidio</a>.  Pretty soon, every company will realize they need their own Jason Kilar.  Imagine if some brilliant, budding entrepreneur had the half a billion dollars News Corp spent on mySpace to create their own social network.  Had Rupert Murdoch found a man with a vision to fund, rather than pouring all that cash into the massive dying social network?  Facebook would have some serious competition.</p>
<p>Quite frankly, the problem with lean start-ups comes down to quality.  Can it be done?  Yes, it can.  But imagine how much faster and better a start-up could
be created if they had a few bucks in their bank account.  Money doesn't buy brilliance, but in the right hands it can make it possible.</p>
<p>Have an idea for a start-up?  No need to be a starving entrepreneur anymore.  Now might be a good time to skip the VC route and head straight to the old
media offices.  They certainly have the money, and they are starting to believe this Internet thing just might take off.</p>{% endblock %}
