{% extends template %}

{% block title %}Make Promises{% endblock %}

{% block preview %}I am bad at answering emails.   After all, it is so easy to procrastinate.{% endblock %}

{% block content %}<p>I am bad at answering emails.  After all, it is so easy to procrastinate.  "In a few hours" becomes "I'll get to it tonight," which turns into "tomorrow morning."</p>

<p>I really liked this line on a contact form I saw on the website of a freelance developer:</p>
<blockquote>I'll get back to you within 24 hours.</blockquote>
<p>That simple sentence guarantees two things:</p>
<ol><li>The developer won't procrastinate when answering emails, since a few hours <em>will</em> make a difference.</li>
<li>People are more comfortable emailing him, since he has made email slightly less asynchronous.</li>
</ol>
<p>By making a public promise with absolute numbers, you are forcing yourself to adhere to it.  Using a relative time frame such as "as soon as possible"
affords endless procrastination&mdash; "24 hours" does not.  This technique is not limited to just email, either.  You can use it for workouts ("three miles a
day" rather than "exercising often"), blog posts ("new blog post every day" rather than "regular posts"), or making plans ("by the end of the week" rather than "soon")- basically, anything that involves some sort of self control.</p>
<p>Does it work?  I'm not sure, I would have to ask him.  I'll know by this time tomorrow.</p>{% endblock %}
