{% extends template %}

{% block title %}An Arms Length{% endblock %}

{% block preview %}A few summers ago, I found myself selling 50-50 tickets at a Little League game.   The average was about $100 per game&mdash; not a bad haul, but I thought I could do better.{% endblock %}

{% block content %}<p>A few summers ago, I found myself selling 50-50 tickets at a Little League game.  The average was about $100 per game&mdash; not a bad haul, but I thought I could do better.</p>

<p>I told everyone there was a special that night- two for the price of one.  A dollar would get you two tickets instead of one, and you could get <em>two</em> arm lengths for ten dollars.</p>
<p>Everyone received twice the amount of tickets, so there was absolutely no change in odds.  Everyone knew the deal was offered to anyone buying tickets, so
nobody was tricked into thinking they had a special advantage.  People buying tickets had absolutely no advantage over any other night.  However, it
worked&mdash; we sold over $350 in tickets that night.</p>
<p>In the physical world, it is rare we have a chance to double what we are offering without suffering some sort of loss in profits.  Best Buy cannot sell you two TVs for the price of one, and McDonalds loses money if they give you two burgers when you only paid for one.</p>
<p>People react positively to getting twice what they paid for.  Companies lose money on buy-one-get-one-free offers, knowing that it will get enough people through the door to make up the difference.</p>
<p>However, this only works to a certain extent with physical items. Online, it is easy and cheap.  Take a look at how the "freemium" model works&mdash; customers get a certain amount of something for free, and have to pay for more.  Often, a pro account costs a company just as much to run as a free account.  A scarcity of supply is created for the sake of making money.</p>
<p>What if you doubled your offer?  If your "premium" level includes 15 users, make it 30.  If customers only get five gigabytes of space, make it ten.  And
make a big deal about it&mdash; don't just quietly change it on the site.  Make it obvious to potential customers that you're offering a promotion&mdash; even
if it is a permanent change.</p>
<p>Take <a href="http://gmail.com" target="_blank">Gmail</a>, for example.  The service is constantly adding space, even though most people won't come close to the original 2GB Gmail initially offered.</p>
<p>Anyone who comes to your site thinks they will be getting a great deal if they sign up, and it costs you absolutely nothing.</p>{% endblock %}
