{% extends template %}

{% block title %}Change{% endblock %}

{% block preview %}In just a few short months, I'll be moving to California to start work at Mozilla. There are a ton of changes I need to make.{% endblock %}

{% block content %}<p>In just a few short months, I will be moving to California to start work at Mozilla.</p>

<p>There are a ton of changes I <em>need</em> to make.  I need to find a new apartment, a new route to work, and more.  One weird thing I have noticed, however, is how predisposed I now am to making smaller changes.</p>

<p>For example, I get toiletries from the local store.  I will be living right next to a Target, which will sell the same stuff the same price.  However, I
decided to switch to <a href="http://alice.com">Alice</a> when I move there.  I am not doing it out of necessity&mdash; I am doing it merely because I am
already making one big change in my life.  There are a number of other things I plan on changing when I move&mdash; simply because I am in "change mode."</p>

<p>So, what is the takeaway?  Try marketing to people who are already making big changes.  Buy ads with apartment realtors or moving companies.  If someone is in change mode (move, big purchase, etc), they are more likely to change the little things, too.</p>{% endblock %}
