{% extends template %}

{% block title %}Five Minute Rule{% endblock %}

{% block preview %}When asking for advice, implement a <strong>five minute rule</strong>.   Don't let anyone advise you until they've thought about it for at least five minutes.{% endblock %}

{% block content %}<p>When asking for advice, implement a <strong>five minute rule</strong>.  Don't let anyone advise you until they've thought about it for at least five minutes.</p>
<p>It is amazing that people take five minutes to decide what they want from the McDonald's Dollar Menu, yet they are ready to jump in with their take on life
or business decisions before you are even done talking.</p>
<p>It doesn't have to be five minutes&mdash; thirty seconds, an hour, or a day all work.  The important part is that you are asking the person to think first.</p>
<p>Remember this rule when you are giving advice, too.  Take time to think, and you will instantly become much more helpful.</p>{% endblock %}
