{% extends template %}

{% block title %}Things I Remember About Facebook{% endblock %}

{% block preview %}When I was your age. .{% endblock %}

{% block content %}<p>When I was your age...</p>
<p><ul><li>Facebook showed a count of your wall posts, and people would compare their wall post count to their friends wall post counts.  Birthdays were like hitting the jackpot.</li></p>
<p>	<li>The main Facebook page was a list of text, and you had to search in order to see anything</li></p>
<p>	<li>Statuses weren't saved, so you could change your status to the most minute things ("Gregory is at work") and nobody would be "spamed"</li></p>
<p>	<li>The status box was hidden off to the side, and merely said "I am ____________."  You filled it in with something (such as "I am eating my dinner"), and Facebook would convert it to start with your name ("Gregory is eating his dinner").</li></p>
<p>	<li>It was called The Facebook</li></p>
<p>	<li>There were network pages, and networks were much more important</li></p>
<p>	<li>"Courses" was built in- you would enter your courses for the quarter, and it would show you who else was in your class</li></p>
<p>	<li>Whenever you accepted a friend request, you had to write how you knew the person.  And, it would display the relationship to anyone viewing your friends list.  So, "Gregory and Brian took a class together in 2008."  The most abused feature: "__ and __ hooked up in ___, and it was ____." If you didn't know someone, it wouldn't let you add them as a friend.  (This is probably the feature I miss the most- I wish they still had it.)</li></p>
<p></ul></p>
<p>Anything I missed?</p>{% endblock %}