{% extends template %}

{% block title %}Delivery{% endblock %}

{% block preview %}Two hunters are out in the woods when one of them collapses.  He doesn't seem to be breathing and his eyes are glazed.{% endblock %}

{% block content %}<p><blockquote>Two hunters are out in the woods when one of them collapses. He doesn't seem to be breathing and his eyes are glazed. The other guy whips out his phone and calls the emergency services. He gasps, "My friend is dead! What can I do?". The operator says "Calm down. I can help. First, let's make sure he's dead." There is a silence, then a shot is heard. Back on the phone, the guy says "OK, now what?</blockquote></p>
<p>Have you ever retold a joke you found funny, only to have it bomb?  Lots of things can go wrong&mdash; too verbose, amiss tone, bad buildup, wrong mood.</p>
<p>Badly executed websites are just like a bad joke&mdash; all the parts might be there, but something didn't click.  Merely doing something doesn't mean you deserve those metaphorical laughs.</p>
<p>Explaining the joke never works&mdash; at best, you will get a pity laugh from listeners who want you to stop.  If users are telling you they prefer a
similar product, you can show them yours does the same thing if you go into the settings, click the link on the top left, scroll down, and blah blah blah.  But
it won't work.  They will nod their heads, but won't be sold.</p>
<p>You need a solid product, appealing ascetics and effective marketing.  Showing up is not enough.  All the hours you put in and money you spent are irrelevant.  Best intentions don't justify praise.</p>
<p>Take a look at the joke at the beginning of this post is.  According to research by Richard Wiseman of the University of Hertfordshire((<a
  href="http://news.bbc.co.uk/2/hi/entertainment/5064020.stm" target="_blank">Spike 'wrote world's best joke', BBC</a>)), it is the world's funniest joke.  Even
with that notable distinction, however, just retelling it is not guaranteed to garner a favorable reaction.</p>
<p>Get the joke right.  Merely telling it does not mean you are entitled to laughs.</p>{% endblock %}
