{% extends template %}

{% block title %}PCMP Lesson 1: Easy Isn't Easy{% endblock %}

{% block preview %}Over the weekend, I created a small app called PleaseCallMyPhone.{% endblock %}

{% block content %}<p><em>Over the weekend, I created a small app called <a href="http://pleasecallmyphone.com" target="_blank">PleaseCallMyPhone.com</a>.  It does just that- it calls your phone.  I made it as a remedy for lost phones, however it is simple enough that you could use it for other things.  It only took me a day to make, however I wanted to share a few quick lessons I learned from making it.</em></p>
<p>A few weeks ago, I was talking to <a href="http://ericwillis.com">Eric Willis</a> and he said something I really liked:</p>
<blockquote>Everything that's easy isn't if you do a good job.</blockquote>
<p>Take a look at Please Call My Phone.  I used <a href="http://twilio.com">Twilio</a> (my super-easy-to-use <a href="http://www.blog.gkoberger.net/2010/01/08/amature-evangelists/">obsession</a>), which did most of the heavy lifting.  In fact, I got a "prototype" working in about ten minutes.  So, then, why did it take me a whole day to get the finished product out the door?</p>
<p>It is the little things that take the time.  The <a href="http://en.wikipedia.org/wiki/Pareto_principle" target="_blank">Pareto principle</a> plays a big
part in it&mdash; 20% of the work always does seem to take up at least 80% of the time.</p>
<p>My original, ten minute version had just a text box that called a phone.  Every little tweak and change took time, though.  Each little addition (scheduling, the design, better error handling, link to my site and Twilio link, JavaScript enhancements, etc) added up quickly.</p>
<p>There are a lot of hidden time sinks, too.  Take a look at scheduling, for example&mdash; little things like handling time zones took a ton of time, and nobody will even notice.</p>
<p>People notice when something is done wrong, not when it is done right.</p>
<p>So, remember&mdash; if what you are doing is quick and easy, you are probably not doing a good enough job.</p>
{% endblock %}
