{% extends template %}

{% block title %}Piracy{% endblock %}
{# {% block author %}<a href="http://gkoberger.net/">Gregory</a>{% endblock %} #}

{% block preview %}
New Internet piracy legislation is the correct answer to the completely wrong question.
{% endblock %}

{% block twitter %}SOPA: The right answer to the wrong question{% endblock %}

{% block content %}
<p>There&rsquo;s a subtle but important difference between <em>&ldquo;how can you stop piracy?&rdquo;</em> and <em>&ldquo;how can you make it so people
  can&rsquo;t pirate?&rdquo;</em>. The former is the question we should be answering; the latter is the question bills like
<abbr title="Stop Online Piracy Act">SOPA</abbr> and <abbr title="Preventing Real Online Threats to Economic Creativity and Theft of Intellectual Property
  Act">PROTECT IP</abbr> (((<a href="http://www.mozilla.org/sopa/">Mozilla&rsquo;s overview of Internet blacklist legislation</a>))) try to answer.</p>

<p>There are always going to be people who pirate content, for any variety of creative pseudo-philosophical reasons and justifications that mostly just
boil down to being cheap. Forget these people. Much like if a CD is stolen off a shelf, this falls under <a
  href="http://en.wikipedia.org/wiki/Shrinkage_%28accounting%29">shrinkage</a>. It sucks and is unfair, but censorship sucks more.</p>

<p>Instead, focus on the people who don&rsquo;t care where things come from. They just want to watch a movie or listen to music and don&rsquo;t want to think.</p>

<p>Most people download illegally for a simple reason &mdash; it&rsquo;s the easiest way to consume content. This new legislation will hurt these people, while doing
nothing to stop the true pirates. Forget the pirates, focus on real people.</p>

<p>The average consumer isn&rsquo;t trying to make a political statement. She just want to watch last night&rsquo;s Glee. Let her watch it on her TV or laptop
or iPad or iPhone. Don&rsquo;t make her wait a week after it airs &mdash; by then, all her friends will be talking about the following episode already.
Don&rsquo;t make her hunt for it or have to install plugins or deal with with low quality. Let her listen to music from the episode on her computer or iPod
or car stereo. Let her burn her boyfriend a mixtape of songs that reminds her of him. Let her show off her carefully curated playlists to her friends.
Don&rsquo;t take away her movies or music in a few weeks due to contract disputes.</p>

<p>Yes, there are legal ways to find content online. Personally, I have never pirated anything I could find on Hulu, Netflix or Rdio &mdash; all of which I happily pay for.
However, the content owners put more effort into restricting the content than they do into letting people consume it. Netflix streaming is largely just bargin bin movies.
Hulu makes you wait a week for most shows, and you still have to watch ads even if you pay. Rdio only works on certain devices, and doesn&rsquo;t give people a
sense of ownership or permanence.</p>

<p>Technology <em>will</em> win in the end. Legally or not, people will consume what they want, when the want, how they want. With an unlimited supply of free options
that allow for this, it&rsquo;s unreasonable for content providers to expect anyone will want to pay for the pleasure of abiding by their restrictions
and whims. Short of declaring computers illegal, piracy can&rsquo;t be stopped by force. The solution isn&rsquo;t to use the government as muscle;
it&rsquo;s to give consumers what they want so they have no reason to pirate. Content providers should be looking to the tech industry for help, not declaring war on it.</p>

<p>I know it isn&rsquo;t this easy. After all, industries are largely made up of middlemen looking for a cut. The Internet would make most of them
redundant. However, we shouldn&rsquo;t be censoring the Internet, holding back innovation and hurting consumers just so Comcast and the like can stay in business.</p>

<p>Nobody will pay for the actual content anymore &mdash; they can already get that for free from any number of illegal sites. What they will pay for, however, is the
experience. Money is the easiest thing to get people to give up. Save them time and effort, and they won&rsquo;t be able to keep their credit cards in their wallets.
Don&rsquo;t make them think. Don&rsquo;t make them understand different services and devices. Give them something that they don&rsquo;t have to hunt for or unzip or
install or sync. Give them something simple. Something that just works.</p>

<p>Just let them press play. That&rsquo;s how you stop piracy.</p>
{% endblock %}

{% block timestamp %}November 19, 2011 15:15:01 PST{% endblock %}
