{% extends template %}

{% block title %}Anchoring{% endblock %}
{# {% block author %}<a href="http://gkoberger.net/">Gregory</a>{% endblock %} #}

{% block preview %}
The outrage over the Netflix price increases is an interesting example of behavioral economics at work.
{% endblock %}

{% block content %}
<p>How much would you pay for unlimited, instant access to every movie ever created?</p>
<p>When you look at it that way, it seems absurd that people would be outraged a company would have the <em>audacity</em> to charge $15 a month.  Yet when
Netflix announced they were bumping up the prices, that&rsquo;s <a
  href="http://venturebeat.com/2011/07/12/netflix-raises-plan-prices-by-60-with-4100-negative-comments-and-counting/">exactly what happened</a>. <em>(Okay, I
  know DVD rentals aren&rsquo;t instant and right now streaming doesn&rsquo;t have the greatest selection &mdash; but within a few years, we&rsquo;ll be
  streaming everything.)</em></p>

<p>I&rsquo;ve heard a lot of talk about why Netflix raised their prices.  Maybe <em>the studios are greedy</em>, or perhaps <em>Netflix cares more about stockholders than
  customers</em>.  No matter the reason, we can probably assume it&rsquo;s financially motivated.  The reaction from customers, however, is not &mdash;
which makes it a great deal more interesting.</p>

<blockquote>A few decades ago, the naturalist Konrad Lorenz discovered that goslings, upon breaking out of their eggs, become attached to the first moving
  object they encounter (which is generally their mother). Lorenz knew this because in one experiment he became the first thing they saw, and they followed
  him loyally from then on through adolescence.</blockquote>
<cite><strong>Dan Ariely</strong>, Predictably Irrational, Chapter 2</cite>

<p>When it comes to prices, we are no different from goslings.  We become <em>imprinted</em> with the first price we see.  With Netflix,
most customers first saw the $10 price tag (despite the fact that it originally started closer to $20, and there was no streaming).</p>
<p>Nobody sat down and thought about it logically.  Buying a single DVD?  About $15.  Going to a 3D movie by yourself?  About $15.  At $16, unlimited rentals and
streaming should be considered a great deal.  However, Netflix is <em>supposed to be</em> $10.  That&rsquo;s the price we latched onto, that&rsquo;s what we
think it&rsquo;s worth and that&rsquo;s all we&rsquo;re willing to pay.</p>
<p>It gets even more interesting.  Let&rsquo;s say I found someone who had never heard of Netflix and had no clue how much it should cost.  I could have them write
down the last two digits of their social security number as a dollar amount, and then ask them if they would be willing to pay that amount for a monthly Netflix
subscription.  Some would say yes, some would say no.  Then, I could ask them to write down the maximum they would pay for Netflix.  Despite the anchor being completely arbitrary, people
who started with a higher number would be more likely to pay a higher monthly price for Netflix.  That&rsquo;s how deeply affected we are by price anchoring and
imprinting.</p>

<blockquote>This, then, is what we call <em>arbitrary coherence</em>. Initial prices are largely "arbitrary" and can be influenced by responses to random questions; but once
those prices are established in our minds, they shape not only what we are willing to pay for an item, but also how much we are willing to pay for related
products (this makes them <em>coherent</em>).</blockquote>
<cite><strong>Dan Ariely</strong>, Predictably Irrational, Chapter 2</cite>

<p>Netflix isn&rsquo;t just a victim of a psychology, however.  They screwed up their announcement.  Acting like they were doing the user a favor, and calling it their <em>lowest prices ever</em>
despite basic math proving the contrary?  <a
  href="http://blog.netflix.com/2011/07/netflix-introduces-new-plans-and.html">Probably not the best game plan</a>.  They should have announced something big at
the same time, such as <em>we just signed Sony!</em> or <em>you can now use Netflix streaming on Android!</em>  By offering a significant
upgrade to the product, the established anchors would have been a bit more flexible. Instead, people saw it as a price increase with no new benefits.<p>

<p>If you haven&rsquo;t yet, definitely check out <em><a
    href="http://www.amazon.com/Predictably-Irrational-Hidden-Forces-Decisions/dp/006135323X" target="_new">Predictibly Irrational</a></em>.  It&rsquo;s a
facinating look at behavioral economics.</p>

{% endblock %}
