{% extends template %}

{% block title %}Blogging{% endblock %}
{# {% block author %}<a href="http://gkoberger.net/">Gregory</a>{% endblock %} #}

{% block preview %}
Let&rsquo;s try this whole blogging thing again, shall we?  It&rsquo;s been over a year since my last post.
{% endblock %}

{% block content %}
<p>
Let&rsquo;s try this whole blogging thing again, shall we?  It&rsquo;s been over a year since my last post.  In that time, I moved 3,000 miles and started
work at Mozilla.  There&rsquo;s not much to say while living in Schaghticoke, NY.  Silicon Valley has proven to be a much more provoking muse.</p>
<p>So, it&rsquo;s about time I pick up my pen again.  This post is mainly to highlight the fact that any older post is over a year old and shall be taken with a
grain of salt.</p>
<p><em>(If you're looking to follow along via RSS, there&rsquo;s <a href="http://feeds.feedburner.com/gkoberger-all">a feed</a> available.)</em></p>
{% endblock %}
