{% extends template %}

{% block title %}Cognitive Burden{% endblock %}
{# {% block author %}<a href="http://gkoberger.net/">Gregory</a>{% endblock %} #}

{% block preview %}
The cognitive burden of a product should lie on the creator, not the consumer.
{% endblock %}

{% block content %}
<p>When you create a website or other product, you eat, sleep and breathe it. You become an expert who understands the subtle nuances of your creation.
It&apos;s like being able to tell a Merlot from a Cabernet by taste. </p>

<p>Users don&apos;t. They just see two red wines.</p>

<p>It&apos;s tempting to try to solve this dissonance with education. After all, everything is obvious to you &mdash; so it isn&apos;t too much to ask your user
to have this same knowledge. However, this causes a dangerous shift of the <em>cognitive burden</em> to the user.</p>

<p>Rather, why bother making the distinction in the first place? Unless it&apos;s vital, you are just unnecessarily giving people one more thing to think about,
no matter how simple the explanation is.</p>

<p>Imagine someone knows nothing about wine. You ask if they would prefer a Merlot or a Cabernet, and they respond with a confused look. Both are types of red
wine, you tell them.</p>

<p>Just call them both <em>red</em> and be done with it. Wine is an art, and people care about the difference because they enjoy it. Your product doesn&apos;t
have that luxury.</p>

<p>It&apos;s not that users are stupid or lazy. They just have more important things to care about. You aren&apos;t competing only with similar products &mdash;
you&apos;re competing with last night&apos;s episode of The Bachelor and that cute girl at the coffee shop and elections and taxes and jobs and families and emails.</p>

<p>This is why simplicity wins.</p>

<p>There is so much noise that people have become fatigued.</p>

<p>So don&apos;t ask the user if they want a <em>PlusPro Upgrade&trade;</em>; simply ask if they want more space. Don&apos;t make them figure out they need to
log in with a username rather than an email address; let them do either. Don&apos;t make them read instructions; simplify the process.</p>

<p>Even if it&apos;s subconscious, everyone appreciates when the cognitive burden isn&apos;t on them. Users shouldn&apos;t have to understand the product like you do in
order to use it. People are so overwhelmed already that anything that seems even slightly confusing is perceived as a straw waiting to break the camels back.</p>

<p>When making something, stop and think &mdash; <em>what&apos;s literally the worst that will happen if I simplify things even more?</em></p>
{% endblock %}

{# If blank, title will be used #}
{% block twitter %}{% endblock %}

{# Format: November 19, 2011 15:15:01 PST #}
{% block timestamp %}February 18, 2012 20:08:00 PST{% endblock %}
