{% extends template %}
{% block title %}Offbeat Guides{% endblock %}
{% block date %}Spring 2010 - August 2011{% endblock %}
{% block color %}#ad1d18{% endblock %}
{% block slug %}offbeatguides{% endblock %}
{% block url %}http://offbeatguides.com{% endblock %}

{% block description %}
<p>In our hyper-connected world, sometimes you just want to disconnect. Offbeat Guides augments traditional printed travel guides with custom data
such as weather and events for when you'll be at your destination. A few days before your trip, you get a high quality printed travel guide with your name
gracing the cover.</p>
<p>I lead development of the Offbeat Guides website, which let users create, customize, manage and track orders. A few days before the start of a trip, our
automated system generated professional quality PDFs in InDesign and sent the files to the printer closest to the customer's location.</p>
{% endblock %}

{% block media %}
<a href="#">
  <figure>
      <img class="border" src="/assets/website.png">
      <figcaption>Offbeat Guides</figcaption>
  </figure>
</a>

<div>
  <div class="col">
    <figure>
      <div class="border">
        <iframe src="http://blip.tv/play/AbrFUAI.html?p=1" width="320" height="225" frameborder="0" allowfullscreen></iframe><embed type="application/x-shockwave-flash" src="http://a.blip.tv/api.swf#AbrFUAI" style="display:none"></embed>
      </div>
      <figcaption>CEO David Sifry explaining Offbeat Guides</figcaption>
    </figure>
    <figure>
      <img src="../assets/kindle.jpg" class="border">
      <figcaption>Offbeat Guide on a Kindle</figcaption>
    </figure>
  </div>

  <div class="col">
    <a href="#">
      <figure>
        <img src="../assets/photo.png" class="border">
        <figcaption>An Offbeat Guide in the wild (by Dave Sifry)</figcaption>
      </figure>
    </a>
    <a href="#">
      <figure>
      <img src="../assets/books.png" class="border">
      <figcaption>Offbeat Guides</figcaption>
      </figure>
    </a>
    <figure>
  </div>
</div>

<a href="#">
  <figure>
    <img src="../assets/order.png">
    <figcaption>Order management screen</figcaption>
  </figure>
</a>
{% endblock %}

{% block more %}
<div class="work-block work-block-side i-did">
  <h4 class="title">What I Did</h4>
  <ul>
    <li>Front-End Development</li>
    <li>Back-End Development</li>
    <li>Some Design</li>
  </ul>
</div>
<div class="work-block work-block-side">
  <h4 class="title">More Links</h4>
  <ul>
    <li><a href="http://www.techcrunch.com/2009/01/26/offbeat-guides-launches-affiliate-program-grab-promo-codes-here/">Launch on Techcrunch</a></li>
    <li><a href="http://www.techcrunch.com/2008/11/12/technorati-founder-dave-sifry-launches-offbeatguidescom-diy-guidebooks-on-the-go/">Affiliates Launch</a></li>
    <li><a href="http://www.crunchbase.com/company/offbeat-guides">On CrunchBase</a></li>
  </ul>
</div>
<div class="work-block work-block-side">
  <h4 class="title">Crafted With</h4>
  <ul>
    <li><a href="http://codeigniter.com">CodeIgniter</a></li>
    <li><a href="http://jquery.com" target="_new">jQuery</a></li>
  </ul>
</div>
<div class="work-block work-block-side">
  <h4 class="title">Co-Conspirators</h4>
  <ul>
    <li><a href="http://ericwillis.com" target="_new">Eric Willis</a>, CTO</li>
    <li><a href="http://www.sifry.com/alerts/" target="_new">David Sifry</a>, CEO</li>
  </ul>
</div>
{% endblock %}
