{% extends "parent.html" %}

{% block body %}

<div class="about_intro" id="intro">
  Hi, I'm Gregory Koberger.  I'm a freelance designer and developer, formerly of <a href="http://mozilla.com" class="mozilla">mozilla</a>, and graduate of <a href="http://rit.edu" class="rit">R&middot;I&middot;T</a>.
</div>

<div class="about_longer">

  <p>I'll write a real bio soon.  Real soon.  Pinky promise.  In the meantime, follow me online:</p>
  <br>
  <p>
    <a href="http://twitter.com/gkoberger">twitter</a> &middot;
    <a href="http://facebook.com/gkoberger">facebook</a> &middot;
    <a href="http://github.com/gkoberger">github</a> &middot;
    <a href="http://news.ycombinator.com/user?id=gkoberger">hacker news</a>
  </p>

  <br><br>

  <p>Or, email me:</p>
  <p>
    <a href="mailto:gkoberger@gmail.com">gkoberger@gmail.com</a>
  </p>

</div>

{% endblock %}

