{% extends "parent.html" %}

{% block body %}
<div id="sections">
  <section id="intro" class="intro">
    I am a developer at <a href="http://mozilla.org" class="mozilla" target="_blank">mozilla</a>, helping to build a better future for the web.
  </section>

  <section id="section_articles">
    <ul>
      {% for article in articles: %}
        {{ article }}
      {% endfor %}
    </ul>
  </section>
  <section id="section_notepad">
    <h2 class="title">
      <span class="pattern"><a href="{{ "notepad"|url }}">Notepad</a></span>
    </h2>
    <ul>
      {% for note in notes %}
        {{ note }}
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}

