{% extends "parent.html" %}

{% block body %}
<div id="sections">
  <section id="intro" class="intro">
  I am a developer at <a href="http://mozilla.org" class="mozilla" target="_blank">Mozilla</a>,
  and can be found on <a href="http://twitter.com/gkoberger" class="twitter" target="_blank">Twitter</a> or <a
        href="http://github.com/gkoberger" class="github" target="_blank">Github</a>.
  </section>

  <section id="section_articles">
    <ul>
      {% for article in articles: %}
        {{ article }}
      {% endfor %}
      <li>
      <span>
        <div class="article_icon">
          <div class="article_icon_inner">
            <div class="parallax">
              <div class="parallax_front"></div>
              <img src="/images/comingsoon.png">
            </div>
          </div>
        </div>
        <div style="text-align: center;">
          Four spots and three articles.<br>You do the math.
        </div>
      </span>
      </li>
    </ul>
  </section>
  <section id="section_notepad">
    <h2 class="title">
      <span class="pattern"><a href="{{ "notepad"|url }}">Notepad</a></span>
    </h2>
    <ul>
      {% for note in notes %}
        {{ note }}
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}

