{% set title = "%s [article]" % self.title() %}
{% set canon = ("magazine/%s" % filename)|url(bitly=True) %}
{% extends "parent.html" %}

{% block body %}
<div id="article">
  <div class="magazine_header">
    {% block header %}
    <h1>{% block title %}{% endblock %}</h1>
    {% endblock %}
  </div>


  <div class="magazine_body_container">
    <div class="magazine_nav">
      {{ nav_next }}
      <div class="magazine_meta">
        <div class="meta_author">
          by {% block author %}<a href="http://gkoberger.net">Gregory Koberger</a>{% endblock %}
        </div>
        <div class="meta_date">
          <span>{{ date|datetimeformat }}</span>
        </div>
        <div class="magazine_header_mobile">
          <strong>
      {% if short_title %}
        {{ short_title }}
      {% else %}
        {{ self.title() }}
        {% endif %}
          </strong>
          <div>
          {{ self.author() }} &bull; {{ date|datetimeformat }}
          </div>
        </div>
      </div>
      {{ nav_prev }}
    </div>

    <div class="magazine_body text">
      {{ self.content()|namespacer(ns, file)|footnoter }}
    </div>
  </div>
  <div class="magazine_nav magazine_nav_bottom">
    {{ nav_next }}
    <div class="magazine_meta">
      {
      {% set tweet = ("%s by @gkoberger %s" % (self.title(), canon))|urlencode %}
      <a href="http://twitter.com/?status={{ tweet }}" target="_new">tweet this</a>
      &middot;
      <a href="http://twitter.com/gkoberger">follow <strong>@gkoberger</strong></a>
      &middot;
      <a href="#" class="open_comments">comments</a>
      }
    </div>
    {{ nav_prev }}
  </div>

  <div id="disqus_thread" data-indentifier="m-{{filename}}"
    data-url="{{ ("magazine/%s" % filename)|url(use_base=True) }}"
    class="magazine_body"></div>
</div>

{{ self.content_css()|namespacer(ns, file) }}

{% block content_js %}{% endblock %}
{% endblock %}
