<li>
<a href="{{('magazine/%s' % filename)|url }}" id="{{ ns }}">
    <div class="article_icon">
      <div class="article_icon_inner">
        {% block preview %}{% endblock %}
      </div>
    </div>
    <h3 class="title">
      {% if short_title %}
        {{ short_title }}
      {% else %}
        {{ self.title() }}
        {% endif %}
    </h3>
    {{ date|datetimeformat }}
  </a>
  <style>{{ self.preview_css()|namespacer(ns, file) }}</style>
  {# <script>
  (function($el) {
    {{ self.preview_js() }}
  })($('#{{ ns }}'));
</script> #}
</li>
