{% set title = "%s [article]" % self.title() %}
{% include "header.html" %}

<div id="article">
  <div class="magazine_header">
    {% block header %}
    <h1>{% block title %}{% endblock %}</h1>
    {% endblock %}
  </div>

  <div class="magazine_nav">
    {% if nav_prev %}
    <a href="{{ base }}/magazine/{{ nav_prev[0] }}" class="prev"><strong>&laquo; PREV</strong><br>{{ nav_prev[1] }}</a>
    {% endif %}
    <div class="author">
      by {% block author %}<a href="http://gkoberger.net">Gregory Koberger</a>{% endblock %}
      <br>
      <span>{{ date|datetimeformat }}</span>
    </div>
    {% if nav_next %}
      <a href="{{ base }}/magazine/{{ nav_next[0] }}" class="next"><strong>NEXT &raquo;</strong><br>{{ nav_next[1] }}</a>
    {% endif %}
  </div>

  <div class="magazine_body text">
    {% block content %}{% endblock %}
  </div>
</div>

<style type="text/css">
  .magazine_header {
    height: 300px;
  }
  .magazine_header h1 {
    font-size: 90px;
    padding-top: 70px;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF, 0 3px 0 #B6BAB5;
  }

  .magazine_nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    position: relative;
  }

  .magazine_nav span {
    color: #777;
  }

  .magazine_nav .prev {
    left: 0pt;
  }

  .magazine_nav .next {
    right: 0;
    text-align: right;
  }

  .magazine_nav .prev, .magazine_nav .next {
    color: #555555;
    position: absolute;
    text-decoration: none;
    top: 10px;
  }

  .magazine_nav .prev strong, .magazine_nav .next strong {
    color: #333;
  }

  .magazine_nav .prev:hover, .magazine_nav .next strong:hover {
    color: #333;
  }

  .magazine_nav .prev:hover strong, .magazine_nav .next strong:hover strong {
    color: #111;
  }

  .magazine_nav h2.title {
    text-align: center;
    font-size: 30px;
  }

  .magazine_nav .author {
    text-align: center;
  }

  .magazine_body {
    margin: 2em 15em 0pt;
  }


</style>

{{ self.content_css()|namespacer(ns, file) }}

<script>
  {% block content_js %}{% endblock %}
</script>
{% include "footer.html" %}
