<li>
  <a href="magazine/{{ url }}" class="article_icon" id="{{ ns }}">
    <div class="article_icon_inner">
      {% block preview %}{% endblock %}
    </div>
  </a>
  <h3 class="title"><a href="magazine/{{ url }}">
      {% if short_title %}
        {{ short_title }}
      {% else %}
        {{ self.title() }}
        {% endif %}
    </a></h3>
  {{ date|datetimeformat }}
  <style>{{ self.preview_css()|namespacer(ns, file) }}</style>
  {# <script>
  (function($el) {
    {{ self.preview_js() }}
  })($('#{{ ns }}'));
</script> #}
</li>
