{% set title = "%s [article]" % self.title() %}
{% extends "parent.html" %}

{% block body %}
<div id="article">
  <div class="magazine_header">
    {% block header %}
    <h1>{% block title %}{% endblock %}</h1>
    {% endblock %}
  </div>


  <div class="magazine_body_container">
    <div class="magazine_nav">
      {% if nav_next %}
      <a href="{{ base }}/magazine/{{ nav_next[0] }}" class="next">
        <span class="arrow">&laquo;</span>
        <strong>OLDER</strong>
        <span class="nav_title">
          {{ nav_next[1] }}
        </span>
      </a>
      {% endif %}
      <div class="magazine_meta">
        <div class="meta_author">
          by {% block author %}<a href="http://gkoberger.net">Gregory Koberger</a>{% endblock %}
        </div>
        <div class="meta_date">
          <span>{{ date|datetimeformat }}</span>
        </div>
        <div class="magazine_header_mobile">
          <strong>
      {% if short_title %}
        {{ short_title }}
      {% else %}
        {{ self.title() }}
        {% endif %}
          </strong>
          <div>
          {{ self.author() }} &bullet; {{ date|datetimeformat }}
          </div>
        </div>
      </div>
      {% if nav_prev %}
      <a href="{{ base }}/magazine/{{ nav_prev[0] }}" class="prev">
        <span class="arrow">&raquo;</span>
        <strong>NEWER</strong>
        <span class="nav_title">
          {{ nav_prev[1] }}
        </span>
      </a>
      {% endif %}
    </div>

    <div class="magazine_body text">
      {{ self.content()|namespacer(ns, file)|footnoter }}
    </div>
  </div>
</div>

{{ self.content_css()|namespacer(ns, file) }}

{% block content_js %}{% endblock %}
{% endblock %}
