{% include "header.html" %}
  <div id="notes">
  {% for note in notes %}
    {{ note }}
  {% endfor %}
  <div class="info_sidebar">
    I'm <strong>Gregory Koberger</strong>, and I write about programming, design, usability and whatever else happens to interest me at the moment.
    Currently, I work as a web developer at <a href="http://mozilla.org"></a>Mozilla</a>.<br /><br />
    You can learn more about me at my personal site, <a href="http://gkoberger.net">gkoberger.net</a>.
  </div>
  </div>
{% include "footer.html" %}
