<div class="note" id="{{ slug }}">
  <div class="title_date gar">{{ date|datetimeformat }}</div>
  <h2 class="title">
    <a href="{{ ('notepad/%s' % filename)|url }}">{{ self.title() }}</a>
  </h2>
  <div class="note_container">
    <div class="text">
      {{ self.content()|footnoter }}
      <div class="notepad_footer">
        {
        {% set short_url = ('notepad/%s' % filename)|url(bitly=True) %}
        {% set tweet = ("%s by @gkoberger %s" % (self.title(), short_url))|urlencode %}
        <a href="http://twitter.com/?status={{ tweet }}" target="_new">tweet this</a>
        &middot; <a href="http://twitter.com/gkoberger">follow <strong>@gkoberger</strong></a>
        &middot; <a href="{{ ('notepad/%s#comments' % filename)|url }}">comments</a>
        }
      </div>
    </div>
    <div class="sidebar">
      <div class="sidebar_scroll">
        <!-- <div class="sidebar_title">{{ self.title() }}</div> -->
        {{ date|datetimeformat }}<br />
        by {% block author %}<a href="http://gkoberger.net/">Gregory</a>{% endblock %}<br />
        <a href="{{ ('notepad/%s#comments' % filename)|url }}">comments</a>
        <!-- t f a c -->
        <div class="sidebar_nav">
          <a href="#" class="nav_prev">&laquo; prev</a>
          &middot;
          <a href="#" class="nav_top">top</a>
          &middot;
          <a href="#" class="nav_next">next &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
