<!doctype html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>
    {% if title: %}
      gk :: {{ title }}
    {% else %}
      Gregory Koberger
    {% endif %}
  </title>
  <meta name="description" content="Portfolio of Gregory Koberger, web developer and user experience designer.">
  <meta name="author" content="Gregory Koberger">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="{{ base }}/css/style.css">
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="{{ base }}/css/mobile.css">

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.6.min.js"></script>

  <script type="text/javascript" src="http://use.typekit.com/{%- block typekit -%}lvj2lqg{%- endblock -%}.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body id="{{ page }}">
  <div id="container" class="pattern">
    <div id="header">
      <header>
        <nav class="main">
        <a href="{{ base }}/magazine/{{ article_url }}"{% if page == "magazine" %} class="current"{% endif %}>articles</a>
          &bullet;
          <a href="{{ base }}/notepad.html"{% if page == "notebook" %} class="current"{% endif %}>notepad</a>
          &bullet;
          <a href="#">portfolio</a>
          &bullet;
          <a href="#">about</a>
          &bullet;
          <a href="#">contact</a>
        </nav>
        &nbsp;

        <{% if page != "home" %}a class="small" href="{{ base }}/index.html" {% else %}div{% endif %} id="logo">
          <div class="logo gar">
            <div>
              <span>g</span>
              <svg height="30" width="30">
                <polygon points="15,5 28,18 23,18 23,28 18,28, 18,22 13,22 13,28 8,28 8,18 3,18">
              </svg>
            </div>
          </div>
          <div id="header_spread">
            <h1 class="gar"><span>Gregory Koberger</span></h1>
            <div id="subtitle" class="subtitle">
              <hr>
              <span class="subtitle_text meta pattern">
                User Experience Designer <span class="amperstand">&amp;</span> Web Engineer
              </span>
            </div>
          </div>
        </{% if page != "home" %}a{% else %}div{% endif %}>
    </header>
  </div>

  {% block body %}{% endblock %}

    <footer>
      Designed and programmed by <a href="http://gkoberger.net">Gregory Koberger</a> 2005&dash;{{ year }}. This work is licensed under a <a rel="license"
      href="http://creativecommons.org/licenses/by/1.0/">Creative Commons License</a>.
    <br>Lovingly handcrafted using the finest HTML5 technologies available.  Site source is available on <a href="http://github.com/gkoberger/gkoberger">github</a>.

    </footer>
    <div id="detect_mobile"></div>
    </div>
  </div> <!--! end of #container -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.4.js"%3E%3C/script%3E'))</script>

  <script src="{{ base }}/js/plugins.js"></script>
  <script src="{{ base }}/js/script.js"></script>

  {% if page == "home" %}
  <script type="text/javascript" src="{{ base }}/js/jquery.event.frame.js"></script>
  <script type="text/javascript" src="{{ base }}/js/jquery.jparallax.js"></script>
  <script>
  </script>
  {% endif %}

  {% if page == "notebook" %}
  <script type="text/javascript" src="{{ base }}/js/syntaxhighlighter/scripts/shCore.js"></script>
  <script type="text/javascript" src="{{ base }}/js/syntaxhighlighter/scripts/shBrushPhp.js"></script>
  <script type="text/javascript" src="{{ base }}/js/syntaxhighlighter/scripts/shBrushXml.js"></script>
  <link type="text/css" rel="stylesheet" href="{{ base }}/js/syntaxhighlighter/styles/shCoreDefault.css"/>
  <script type="text/javascript">
    if($('body').hasClass('screen')) {
      SyntaxHighlighter.config.tagName = 'code';
      SyntaxHighlighter.defaults['gutter'] = false;
      SyntaxHighlighter.defaults['toolbar'] = false;

      SyntaxHighlighter.all();
    }
  </script>
  {% endif %}

  <!--[if lt IE 7 ]>
  <script src="js/libs/dd_belatedpng.js"></script>
  <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-142380-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

</body>
</html>

