{% extends "parent.html" %}

{% block body %}


<div class="caution pattern">
  <strong class="title" style=""><span>This Page is a</span>work in progress</strong>
  <div>
    Oh my, this is embarassing.  It seems you've stumbled upon a section of the site
    that isn't exactly ready for primetime yet.  It's horribly outdated and not exactly the nicest on the eyes,
    however it should do until I have time to properly clean it up.
  </div>
</div>


<!-- Don't hold this against me!  Copied and pasted from (ugh) Drupal. -->
<div class="views-row-2 views-row-even">

  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Offbeat+Guides&page=Website&url=http%3A%2F%2Fwww.offbeatguides.com" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/offbeatguides_t_0.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Offbeat+Guides&page=Website&url=http%3A%2F%2Fwww.offbeatguides.com">Offbeat Guides</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Summer 2008 | Programming</span>    <p>Offbeat Guides lets you create personalized, printed travel guides.  I became the main developer of the website, which was built on PHP and mySQL.  It uses CodeIgniter for a PHP framework, and jQuery for it's JavaScript framework.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>

      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CodeIgniter.jpg');"></div>
      </div>

      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Offbeat+Guides&page=Website&url=http%3A%2F%2Fwww.offbeatguides.com">Website</a></b> | <a href="/previews.php?project=Offbeat+Guides&page=TechCrunch+%28Launch%29&url=http%3A%2F%2Fwww.techcrunch.com%2F2009%2F01%2F26%2Foffbeat-guides-launches-affiliate-program-grab-promo-codes-here%2F">TechCrunch (Launch)</a> | <a href="/previews.php?project=Offbeat+Guides&page=TechCrunch+%28Affiliates%29&url=http%3A%2F%2Fwww.techcrunch.com%2F2008%2F11%2F12%2Ftechnorati-founder-dave-sifry-launches-offbeatguidescom-diy-guidebooks-on-the-go%2F">TechCrunch (Affiliates)</a></p>
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-2 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=RIT+Intersect&page=The+RIT+Intersect&url=http%3A%2F%2Frit.edu%2Fintersect" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/intersect_small.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=RIT+Intersect&page=The+RIT+Intersect&url=http%3A%2F%2Frit.edu%2Fintersect">RIT Intersect</a></h3>

      <span style="color: rgb(153, 153, 153); font-size: 11px;">Programming, Design, Implementation</span>    <p>The RIT Intersect is a project I created and am developing, independent of RIT.  Registering for classes is a quarterly nightmare for students, so I created the system to make it easier. The RIT Intersect lets you browse, sort, filter and search courses, as well as stores lists, keep track of your plans of study, and generate schedules.  It is a huge system, and will be released in the upcoming weeks.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=RIT+Intersect&page=The+RIT+Intersect&url=http%3A%2F%2Frit.edu%2Fintersect">The RIT Intersect</a></b> | <a href="/previews.php?project=RIT+Intersect&page=Tour&url=http%3A%2F%2Fwww.rit.edu%2Fgccis%2Fintersect%2Ftour%2F">Tour</a></p>

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-3 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="http://web.archive.org/web/20100807155009/http://gigaomnetwork.com/" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/gigaom_small_0.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>

    <div class="info">
      <h3 class="title"><a href="http://web.archive.org/web/20100807155009/http://gigaomnetwork.com/">GigaOM Network</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Summer 2009 | Design, Implementation</span>    <p>One of my first jobs at my GigaOM gig was to redesign their <a href="http://web.archive.org/web/20100807155009/http://gigaomnetwork.com/">corporate website</a>.  It was a bit outdated, and needed a refresh.  I designed the site, and implemented it in WordPress.  The project took about a week, and all the images are made from scratch.  <em>This website has since been deprecated.</em></p>

      <div class="block spacer">
        <b class="label">Tested on:</b>

        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>

        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Wordpress.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>

        <p style="margin:0"><b><a href="/previews.php?project=GigaOM+Network&page=GigaOM+Network+Redesign&url=http%3A%2F%2Fgigaomnetwork.com">GigaOM Network Redesign</a></b> | <a href="/previews.php?project=GigaOM+Network&page=More+Information&url=http%3A%2F%2Fgkoberger.net%2Fnode%2F159">More Information</a></p>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-4 views-row-even">



  <div class="item">
    <div class="image">
      <a href="/previews.php?project=La+Salle+Institute+Redesign+%5BPrototype%5D&page=La+Salle+Redesign&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Flsi%2Findex.html" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/lsi_small.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=La+Salle+Institute+Redesign+%5BPrototype%5D&page=La+Salle+Redesign&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Flsi%2Findex.html">La Salle Institute Redesign [Prototype]</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Summer 2009 | Design</span>    <p>I was unhappy with the quality of my high schools <a href="http://lasalleinstitute.org/">current website</a>, so I created a redesign.  It is a much cleaner and more organized version of the old site.  Right now, it&rsquo;s just a prototype &mdash; perhaps someday it will be converted into an actual website.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>

      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=La+Salle+Institute+Redesign+%5BPrototype%5D&page=La+Salle+Redesign&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Flsi%2Findex.html">La Salle Redesign</a></b> | <a href="/previews.php?project=La+Salle+Institute+Redesign+%5BPrototype%5D&page=Current+Site&url=http%3A%2F%2Flasalleinstitute.org%2F">Current Site</a></p>

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-5 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Offbeat+Guides+Redesign+%5BPrototype%5D&page=Offbeat+Guides+Redesign&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Fobg%2Findex.html" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/obg_redesign.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>

    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Offbeat+Guides+Redesign+%5BPrototype%5D&page=Offbeat+Guides+Redesign&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Fobg%2Findex.html">Offbeat Guides Redesign [Prototype]</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started January 2010 | Design</span>    <p>After working for Offbeat Guides for a number of years, I came up with my vision of what I thought the front page should look like.  I sketched it out on paper, and then turned it into a mockup.  It's much more colorful than the current drab gray and red, and it does a better job of conveying the travel theme and creating an experience for the user.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>

      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Offbeat+Guides+Redesign+%5BPrototype%5D&page=Offbeat+Guides+Redesign&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Fobg%2Findex.html">Offbeat Guides Redesign</a></b> | <a href="/previews.php?project=Offbeat+Guides+Redesign+%5BPrototype%5D&page=Current+Site&url=http%3A%2F%2Foffbeatguides.com">Current Site</a></p>
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-6 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Please+Call+My+Phone&page=PleaseCallMyPhone.com&url=http%3A%2F%2Fpleasecallmyphone.com" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/pcmp_0.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Please+Call+My+Phone&page=PleaseCallMyPhone.com&url=http%3A%2F%2Fpleasecallmyphone.com">Please Call My Phone</a></h3>

      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started February 2010 | Programming, Design, Implementation</span>    <p>I made Please Call My Phone because I kept losing my phone in my room, and needed an easy way to find it.  The site also has a "schedule" feature, so you could use it as an excuse to get out of a bad date or boring meeting.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Twilio.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Please+Call+My+Phone&page=PleaseCallMyPhone.com&url=http%3A%2F%2Fpleasecallmyphone.com">PleaseCallMyPhone.com &raquo</a></b></p>
      </div>

    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-7 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=RIT48&page=RIT48+Information&url=http%3A%2F%2Frit48.com" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/rit48_small.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">

      <h3 class="title"><a href="/previews.php?project=RIT48&page=RIT48+Information&url=http%3A%2F%2Frit48.com">RIT48</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Spring 2010 | Implementation</span>    <p><a href="http://ianmikutel.com">Ian Mikutel</a>
      and I created <a href="http://rit48.com">RIT48</a>, an event that aims to bring together students from various disciplines to pitch, plan, develop and
      launch a web startup in one weekend &mdash; or, as the name suggests, 48 hours. An intense, energy fueled, entrepreneurial event, RIT48 was designed to showcase the innovative and creative spirit of RIT students while offering the opportunity to learn and meet new people.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>

        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>

        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=RIT48&page=RIT48+Information&url=http%3A%2F%2Frit48.com">RIT48 Information</a></b> | <a href="/previews.php?project=RIT48&page=RIT48+Network&url=http%3A%2F%2Fnetwork.rit48.com">RIT48 Network</a></p>

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-8 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Six+Degrees&page=Six+Degrees&url=http%3A%2F%2Fsixdegre.es" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/sd_small.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>

    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Six+Degrees&page=Six+Degrees&url=http%3A%2F%2Fsixdegre.es">Six Degrees</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Summer 2009 | Programming, Design</span>    <p>Based on <a href="http://www.txtst.com/portfolio.php?id=20">Social Genius</a>, six<strong>degrees</strong> was made for the RIT College of Business as a way for teachers to learn students names.  The software is currently in private beta, however it will eventually be released for anyone organizing a conference or teaching a course.</p>

      <div class="block spacer">

        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">

        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CodeIgniter.jpg');"></div>
      </div>
      <div class="block">

        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Six+Degrees&page=Six+Degrees&url=http%3A%2F%2Fsixdegre.es">Six Degrees &raquo</a></b></p>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-9 views-row-odd">



  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Election+2008+Issues&page=Election2008+Website&url=http%3A%2F%2Ftechnospect.com%2Felection2008" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/election2008_t.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Election+2008+Issues&page=Election2008+Website&url=http%3A%2F%2Ftechnospect.com%2Felection2008">Election 2008 Issues</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started August 2008 | Programming, Design</span>    <p>This is a little tool I made before the election, so you could pick a stance you most agree with on 20 issues, and find out candidate you most agree with.  The content comes from CNN's "The Issues" section of their Election website.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>

        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Election+2008+Issues&page=Election2008+Website&url=http%3A%2F%2Ftechnospect.com%2Felection2008">Election2008 Website &raquo</a></b></p>

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-10 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Febuary+5+National+Teach-In+2009&page=Post-event+Website&url=http%3A%2F%2Fwww.rit.edu%2Fgwteachin%2F" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/globalwarming_t_0.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>

    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Febuary+5+National+Teach-In+2009&page=Post-event+Website&url=http%3A%2F%2Fwww.rit.edu%2Fgwteachin%2F">Febuary 5 National Teach-In 2009</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started January 2009 | Design, Implementation</span>    <p>I was asked to make a website for RIT's participation in the February 5 National Teach-In.  It's a one page static HTML website, listing the events that would be occurring throughout the day.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Febuary+5+National+Teach-In+2009&page=Post-event+Website&url=http%3A%2F%2Fwww.rit.edu%2Fgwteachin%2F">Post-event Website</a></b> | <a href="/previews.php?project=Febuary+5+National+Teach-In+2009&page=Event+Schedule&url=http%3A%2F%2Fwww.rit.edu%2Facademicaffairs%2Fgwteachin%2Fschedule.html">Event Schedule</a></p>

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-11 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Gregory+Koberger+%3A%3A+The+Blog&page=Gregory+Koberger%27s+Blog&url=http%3A%2F%2Fblog.gkoberger.net" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/blog_small.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>

    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Gregory+Koberger+%3A%3A+The+Blog&page=Gregory+Koberger%27s+Blog&url=http%3A%2F%2Fblog.gkoberger.net">Gregory Koberger :: The Blog</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Summer 2009 | Design, Implementation</span>    <p><em><strong>Note:</strong> Gone!  The blog is now part of the
      main site.</em>  When I designed my site, I was looking to make a portfolio.  I later decided I wanted to blog, as well, however I felt the site wasn't suitable for the type of blog I was looking to run.  It was too graphics-intensive, so I created a simplified layout for my personal blog.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Wordpress.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Gregory+Koberger+%3A%3A+The+Blog&page=Gregory+Koberger%27s+Blog&url=http%3A%2F%2Fblog.gkoberger.net">Gregory Koberger's Blog &raquo</a></b></p>
      </div>

    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-12 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=RIT+Quarters+v+Semesters+Infograph&page=Quarters+v+Semesters+%3A%3A+An+Infograph&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Frit%2Findex.php" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/ritinfo_small_0.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">

      <h3 class="title"><a href="/previews.php?project=RIT+Quarters+v+Semesters+Infograph&page=Quarters+v+Semesters+%3A%3A+An+Infograph&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Frit%2Findex.php">RIT Quarters v Semesters Infograph</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started February 2010 | Design, Implementation</span>    <p>My college, <a href="http://rit.edu">Rochester Institute of Technology</a>, recently created a controversy when they decided to switch from quarters to semesters.  The email they sent describing the changes had a ton of information, and I felt it could benefit from visualizations.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=RIT+Quarters+v+Semesters+Infograph&page=Quarters+v+Semesters+%3A%3A+An+Infograph&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Frit%2Findex.php">Quarters v Semesters :: An Infograph</a></b> | <a href="/previews.php?project=RIT+Quarters+v+Semesters+Infograph&page=Reddit+Comments&url=http%3A%2F%2Fwww.reddit.com%2Fr%2Frit%2Fcomments%2Fb2wt1%2Fquarters_v_semesters_by_the_numbers_infograph%2F">Reddit Comments</a></p>
      </div>

    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-13 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Twitter+Cheat+Sheet+%5BPDF%5D&page=Twitter+Cheat+Sheet+%28Google+PDF+Viewer%29&url=http%3A%2F%2Fdocs.google.com%2Fgview%3Furl%3Dhttp%3A%2F%2Fgkoberger.net%2Fprojects%2Fcheatsheets%2Ftwitter_cheatsheet.pdf%26amp%3Bembedded%3Dtrue" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/twitter_small.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">

      <h3 class="title"><a href="/previews.php?project=Twitter+Cheat+Sheet+%5BPDF%5D&page=Twitter+Cheat+Sheet+%28Google+PDF+Viewer%29&url=http%3A%2F%2Fdocs.google.com%2Fgview%3Furl%3Dhttp%3A%2F%2Fgkoberger.net%2Fprojects%2Fcheatsheets%2Ftwitter_cheatsheet.pdf%26amp%3Bembedded%3Dtrue">Twitter Cheat Sheet [PDF]</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started January 2010 | Implementation</span>    <p>I was giving a talk at <a href="http://homecarerochester.com/">Home Care Rochester</a> about Twitter use for senior citizens with Parkinson's Disease, and was unable to find a dead-simple cheat sheet for people new to Twitter.  I knew most people in the audience wouldn't remember what I talked about, so I created a simple cheat sheet based on my presentation.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>

        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>

        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Twitter+Cheat+Sheet+%5BPDF%5D&page=Twitter+Cheat+Sheet+%28Google+PDF+Viewer%29&url=http%3A%2F%2Fdocs.google.com%2Fgview%3Furl%3Dhttp%3A%2F%2Fgkoberger.net%2Fprojects%2Fcheatsheets%2Ftwitter_cheatsheet.pdf%26amp%3Bembedded%3Dtrue">Twitter Cheat Sheet (Google PDF Viewer)</a></b> | <a href="/previews.php?project=Twitter+Cheat+Sheet+%5BPDF%5D&page=PDF+Version&url=http%3A%2F%2Fgkoberger.net%2Fprojects%2Fcheatsheets%2Ftwitter_cheatsheet.pdf">PDF Version</a></p>
      </div>

    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-14 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=iTaxi+%5BPrototype%5D&page=Mockup&url=http%3A%2F%2Ftechnospect.com%2Fhci%2Fmockup.html" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/itaxi_t.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">

      <h3 class="title"><a href="/previews.php?project=iTaxi+%5BPrototype%5D&page=Mockup&url=http%3A%2F%2Ftechnospect.com%2Fhci%2Fmockup.html">iTaxi [Prototype]</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Spring 2008</span>    <p>iTaxi is a prototype for a touch screen back-seat interface for a taxi.  It was made for a class on Human Computer Interaction and usability, and went through numerous usability tests.  Since it's a prototype, only about half the functionality works- just enough for the various usability tests we administered.  The entire project involved 4 people, however I did the design and programming for this prototype.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/MooTools.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=iTaxi+%5BPrototype%5D&page=Mockup&url=http%3A%2F%2Ftechnospect.com%2Fhci%2Fmockup.html">Mockup</a></b> | <a href="/previews.php?project=iTaxi+%5BPrototype%5D&page=Design+Doc&url=http%3A%2F%2Ftechnospect.com%2Fhci%2FdesignDocument.pdf">Design Doc</a></p>
      </div>

    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-15 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Lab+for+Social+Computing+Website&page=Lab+for+Social+Computing+website&url=http%3A%2F%2Flabforsocialcomputing.net%2F" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/lsc_2.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">

      <h3 class="title"><a href="/previews.php?project=Lab+for+Social+Computing+Website&page=Lab+for+Social+Computing+website&url=http%3A%2F%2Flabforsocialcomputing.net%2F">Lab for Social Computing Website</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started January 2009 | Design, Implementation</span>    <p>I designed the Lab for Social Computing website, and implemented it using Drupal.  A large number of websites at RIT are starting to use Drupal, so it only made sense to follow suit.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/Drupal.jpg');"></div>
      </div>

      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Lab+for+Social+Computing+Website&page=Lab+for+Social+Computing+website&url=http%3A%2F%2Flabforsocialcomputing.net%2F">Lab for Social Computing website &raquo</a></b></p>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>

<div class="views-row-16 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Online+Photo+Editor+%28Proof+of+Concept%29&page=Online+Photo+Editor&url=http%3A%2F%2Ftechnospect.com%2Fproject%2F3%2F" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/onlinephotoshop_t_0.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Online+Photo+Editor+%28Proof+of+Concept%29&page=Online+Photo+Editor&url=http%3A%2F%2Ftechnospect.com%2Fproject%2F3%2F">Online Photo Editor (Proof of Concept)</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Spring 2007 | Programming, Design</span>    <p>My favorite website projects involve a combination of backend and frontend programming.  For this project, I decided to try to make an online image editor.  I wrote this in about a weekend as a proof-of-concept, so it's far from full-featured.  While online photo editors are pretty common these days, back when I started there weren't really any good ones.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/MooTools.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Online+Photo+Editor+%28Proof+of+Concept%29&page=Online+Photo+Editor&url=http%3A%2F%2Ftechnospect.com%2Fproject%2F3%2F">Online Photo Editor &raquo</a></b></p>
      </div>

    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-17 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=RIT+Schedule+Maker+%28v1%29&page=RIT+Schedule+Maker&url=http%3A%2F%2Ftechnospect.com%2Fscheduler%2F" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/scheduler_t.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">

      <h3 class="title"><a href="/previews.php?project=RIT+Schedule+Maker+%28v1%29&page=RIT+Schedule+Maker&url=http%3A%2F%2Ftechnospect.com%2Fscheduler%2F">RIT Schedule Maker (v1)</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Summer 2007 | Programming, Design</span>    <p>Currently, most of RIT uses <a href="http://ejohn.org/">John Resig</a>'s <a href="http://schedule.csh.rit.edu/">RIT Schedule Maker</a> to create their schedules for the quarter.  His is great, however I wanted to to see if I could improve on it.  This is the prototype- which is cool to play with, but isn't any more useful than the original.  It has been superceeded by my <a href="http://rit.edu/intersect">RIT Intersect project</a>.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>

        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/MooTools.jpg');"></div>

      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=RIT+Schedule+Maker+%28v1%29&page=RIT+Schedule+Maker&url=http%3A%2F%2Ftechnospect.com%2Fscheduler%2F">RIT Schedule Maker &raquo</a></b></p>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>

  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-18 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=SVG+Kaleidoscope&page=View+the+Kaleidoscope&url=http%3A%2F%2Ftechnospect.com%2Fproject%2F2%2Fkaleidoscope.svg" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/kaleidoscope_t.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=SVG+Kaleidoscope&page=View+the+Kaleidoscope&url=http%3A%2F%2Ftechnospect.com%2Fproject%2F2%2Fkaleidoscope.svg">SVG Kaleidoscope</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Januery 2008 | Programming, Design</span>    <p>This is a kaleidoscope written using SVG (Scalable Vector Graphics, used for the shapes), SMIL (Synchronized Multimedia Integration Language, used to animate the shapes), and Javascript (used for drawing and, when SMIL isn't available, for animating the shapes).  While SVG was a bit of a pain, it's definitely going to catch on in the next few years. (<strong>Note</strong>: This was written a few years ago.  Since then, it has stopped working in Firefox and only somewhat works in Chrome.)</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>

      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/Javascript.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/SVG.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=SVG+Kaleidoscope&page=View+the+Kaleidoscope&url=http%3A%2F%2Ftechnospect.com%2Fproject%2F2%2Fkaleidoscope.svg">View the Kaleidoscope &raquo</a></b></p>

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-19 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Technospect&page=Technospect&url=http%3A%2F%2Ftechnospect.com" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/technospect_t.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>

    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Technospect&page=Technospect&url=http%3A%2F%2Ftechnospect.com">Technospect</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started October 2004 | Programming, Design</span>    <p>I needed a place to store and display projects I've been working on- this site is more of a portfolio, so I decided to create a whole separate site.  I went with Technospect (a play on the word "retrospect"), and try to add things to it every once in awhile.  "Try" being the key word.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>

        <div class="icon" style="background-image:url('/images/icons/jQuery.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/MooTools.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Technospect&page=Technospect&url=http%3A%2F%2Ftechnospect.com">Technospect &raquo</a></b></p>

      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-20 views-row-even">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Where+I%26%23039%3Bm+From&page=Website&url=http%3A%2F%2Fgkoberger.net%2Fworks%2Ffinal%2F" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/whereimfrom_t.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>

    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Where+I%26%23039%3Bm+From&page=Website&url=http%3A%2F%2Fgkoberger.net%2Fworks%2Ffinal%2F">Where I&#039;m From</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Winter 2007 | Programming, Design, Implementation</span>    <p>This was my final project for Website Design and Implementation with <a href="http://mamamusings.com/">Elizabeth Lawley</a>.  The assignment was to make a five page website about a place you've lived.  The concept behind my project is that you "zoom" in the further right you go.  The experimental text wrapping probably isn't something I'd use in a real site, however I wanted to try new techniques.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>

        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>
      <div class="block spacer">
        <b class="label">Made With:</b>

        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/MooTools.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">
        <b class="label">Visit:</b>

        <p style="margin:0"><b><a href="/previews.php?project=Where+I%26%23039%3Bm+From&page=Website&url=http%3A%2F%2Fgkoberger.net%2Fworks%2Ffinal%2F">Website</a></b> | <a href="/previews.php?project=Where+I%26%23039%3Bm+From&page=Documentation+1&url=http%3A%2F%2Fblogs.it.rit.edu%2F409%2F072%2Fgpk5222%2F2008%2F01%2Fmidterm_project_1.html">Documentation 1</a> | <a href="/previews.php?project=Where+I%26%23039%3Bm+From&page=Documentation+2&url=http%3A%2F%2Fblogs.it.rit.edu%2F409%2F072%2Fgpk5222%2F2008%2F02%2Ffinal_site.html">Documentation 2</a></p>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>

<div class="views-row-21 views-row-odd">


  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Movie+Time+Lookup&page=Simple+Movie+Look-up&url=http%3A%2F%2Ftechnospect.com%2Fmovies" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/movie_t_0.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Movie+Time+Lookup&page=Simple+Movie+Look-up&url=http%3A%2F%2Ftechnospect.com%2Fmovies">Movie Time Lookup</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Winter 2007 | Programming, Design</span>    <p><em>No longer works due to API changes.  Plus, smart phone apps do a much better job of this these days.</em>  I couldn't find an easy place to browse movie times, so I threw this together.  It's made with Javascript (no framework!) and PHP, with AJAX tying it all together.  The data is scraped from a website using PHP, and served to the browser using XML.  It's cross-browser, and degrades very gracefully (it's still usable without javascript).  All elements are created dynamically, and zips are stored in cookies.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>

      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/PHP.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Javascript.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
      </div>
      <div class="block">

        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Movie+Time+Lookup&page=Simple+Movie+Look-up&url=http%3A%2F%2Ftechnospect.com%2Fmovies">Simple Movie Look-up &raquo</a></b></p>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>
<div class="views-row-22 views-row-even views-row-last">



  <div class="item">
    <div class="image">
      <a href="/previews.php?project=Website+Design+and+Implementation+Blog&page=Movable+Type+Blog&url=http%3A%2F%2Fblogs.it.rit.edu%2F409%2F072%2Fgpk5222%2F" class="imagefield imagefield-nodelink imagefield-field_image"><img src="http://gkoberger.net/sites/default/files/409blog_t.jpg" alt="" title="" width="295" height="150" class="imagefield imagefield-field_image" /></a>            </div>
    <div class="info">
      <h3 class="title"><a href="/previews.php?project=Website+Design+and+Implementation+Blog&page=Movable+Type+Blog&url=http%3A%2F%2Fblogs.it.rit.edu%2F409%2F072%2Fgpk5222%2F">Website Design and Implementation Blog</a></h3>
      <span style="color: rgb(153, 153, 153); font-size: 11px;">Started Winter 2007 | Design, Implementation</span>    <p>During our 10 week class, we were expected to keep a Movable Type blog about the projects we worked on.  I designed this blog, and posted detailed descriptions of the projects I worked on in the class, taught by <a href="http://mamamusings.com/">Elizabeth Lawley</a>.  Not really much to see here, beside the layout and a few links to small projects I worked on for the class.</p>

      <div class="block spacer">
        <b class="label">Tested on:</b>
        <div class="icon" style="background-image:url('/images/icons//Firefox.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer6.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//InternetExplorer7.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Safari.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons//Opera.jpg');"></div>
      </div>

      <div class="block spacer">
        <b class="label">Made With:</b>
        <div class="icon" style="background-image:url('/images/icons/CSS.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/XHTML.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/MovableType.jpg');"></div>
        <div class="icon" style="background-image:url('/images/icons/Photoshop.jpg');"></div>
      </div>
      <div class="block">

        <b class="label">Visit:</b>
        <p style="margin:0"><b><a href="/previews.php?project=Website+Design+and+Implementation+Blog&page=Movable+Type+Blog&url=http%3A%2F%2Fblogs.it.rit.edu%2F409%2F072%2Fgpk5222%2F">Movable Type Blog &raquo</a></b></p>
      </div>
    </div>
    <div style="clear: both;"></div>
  </div>
  <!-- field_components_value, field_role_value, field_supports_value -->  </div>




{% endblock %}

