{% extends "parent.html" %}

{% block body %}
<style>
  .resume {
    width: 960px;
    margin: 100px auto 0;
  }

  .resume h2 {
    color: #8B4242;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }

  .resume h3 {
    font-size: 1.2em;
  }
  .resume h3 span {
    color: #999;
  }
  .resume h4 {
    color: #888888;
    font-weight: normal;
    padding-bottom: 0.4em;
  }

  .resume section div {
    padding-bottom: 1em;
  }
  .resume #skills div {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    padding-right: 3em;
    padding-bottom: 3em;
  }

  .resume ul li {
    color: #666666;
    padding-top: 6px;
  }
  .resume ul {
    margin-left: 1em;
  }
</style>

<div class="resume">
  <section id="skills">
    <h2>Skills</h2>
    <div>
      <h3>Front-end web development</h3>
      <ul>
        <li>I write well structured, semantic HTML.</li>
        <li>I know CSS inside out, including detailed knowledge of browser compatibility issues and new CSS 3 features.</li>
        <li>I write unobtrusive JavaScript, with jQuery or directly to the DOM.</li>
        <li>I keep up with the latest browser developments, and I’ve used the HTML5 history and canvas APIs to enhance real websites.</li>
        <li>I’m a proponent of accessibility, progressive enhancement and microformats.</li>
      </ul>
    </div>
    <div>
      <h3>Front-end web development</h3>
      <ul>
        <li>I write well structured, semantic HTML.</li>
        <li>I know CSS inside out, including detailed knowledge of browser compatibility issues and new CSS 3 features.</li>
        <li>I write unobtrusive JavaScript, with jQuery or directly to the DOM.</li>
        <li>I keep up with the latest browser developments, and I’ve used the HTML5 history and canvas APIs to enhance real websites.</li>
        <li>I’m a proponent of accessibility, progressive enhancement and microformats.</li>
      </ul>
    </div>
    <div>
      <h3>Front-end web development</h3>
      <ul>
        <li>I write well structured, semantic HTML.</li>
        <li>I know CSS inside out, including detailed knowledge of browser compatibility issues and new CSS 3 features.</li>
        <li>I write unobtrusive JavaScript, with jQuery or directly to the DOM.</li>
        <li>I keep up with the latest browser developments, and I’ve used the HTML5 history and canvas APIs to enhance real websites.</li>
        <li>I’m a proponent of accessibility, progressive enhancement and microformats.</li>
      </ul>
    </div>
    <div>
      <h3>Front-end web development</h3>
      <ul>
        <li>I write well structured, semantic HTML.</li>
        <li>I know CSS inside out, including detailed knowledge of browser compatibility issues and new CSS 3 features.</li>
        <li>I write unobtrusive JavaScript, with jQuery or directly to the DOM.</li>
        <li>I keep up with the latest browser developments, and I’ve used the HTML5 history and canvas APIs to enhance real websites.</li>
        <li>I’m a proponent of accessibility, progressive enhancement and microformats.</li>
      </ul>
    </div>
  </section>

  <section id="experience">
    <h2>Experience</h2>
    <div>
      <h3>Mozilla</h3>
      <h4>Web Developer &middot; summer 2010 through present</h4>
      <p>Developed and maintained the website for a San Francisco based technology startup.  Had work featured in TechCrunch and various other publications.</p>
      </ul>
    </div>
    <div>
      <h3>Offbeat Guides</h3>
      <h4>Web Developer &middot; summer 2008 through spring 2009</h4>
      <p>Developed and maintained the website for a San Francisco based technology startup.  Had work featured in TechCrunch and various other publications.</p>
      </ul>
    </div>
    <div>
      <h3>Giga Omni Media</h3>
      <h4>Web Developer &middot; summer 2008 through spring 2009</h4>
      <p>Developed and maintained the website for a San Francisco based technology startup.  Had work featured in TechCrunch and various other publications.</p>
      </ul>
    </div>
    <div>
      <h3>RIT Lab for Social Computing</h3>
      <h4>Web Developer &middot; winter 2008 through spring 2010</h4>
      <p>Developed and maintained the website for a San Francisco based technology startup.  Had work featured in TechCrunch and various other publications.</p>
      </ul>
    </div>
  </section>

  <section id="education">
    <h2>Education</h2>
    <div>
      <h3>Rochester Institute of Technology <span>&rsquo;10</span></h3>
      <ul>
        <li>I write well structured, semantic HTML.</li>
        <li>I know CSS inside out, including detailed knowledge of browser compatibility issues and new CSS 3 features.</li>
        <li>I write unobtrusive JavaScript, with jQuery or directly to the DOM.</li>
        <li>I keep up with the latest browser developments, and I’ve used the HTML5 history and canvas APIs to enhance real websites.</li>
        <li>I’m a proponent of accessibility, progressive enhancement and microformats.</li>
      </ul>
    </div>
    <div>
      <h3>La Salle Institute <span>&rsquo;06</span></h3>
      <ul>
        <li>I write well structured, semantic HTML.</li>
        <li>I know CSS inside out, including detailed knowledge of browser compatibility issues and new CSS 3 features.</li>
        <li>I write unobtrusive JavaScript, with jQuery or directly to the DOM.</li>
        <li>I keep up with the latest browser developments, and I’ve used the HTML5 history and canvas APIs to enhance real websites.</li>
        <li>I’m a proponent of accessibility, progressive enhancement and microformats.</li>
      </ul>
    </div>
  </section>
</div>

{% endblock %}
