{% extends template %}
{% block title %}Offbeat Guides{% endblock %}
{% block date %}Spring 2010 - August 2011{% endblock %}
{% block description %}
<p>Offbeat Guides lets you create personalized, printed travel guides. I became the main developer of the website, which was built on PHP and mySQL. It uses CodeIgniter for a PHP framework, and jQuery for it's JavaScript framework.</p>
{% endblock %}

{% block media %}
<a href="#">
<figure>
  <div style="height:300px;width:620px">
    <img src="http://f.cl.ly/items/1z1D4135111w162j1r0k/Screen%20Shot%202012-01-01%20at%2010.08.13%20PM.png">
  </div>
  <figcaption>This is a test!</figcaption>
</figure>
</a>
<figure>
  <div class="border" style="height:225px;width:400px;">
    <iframe src="http://player.vimeo.com/video/11464259?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  <figcaption>Awesome video!</figcaption>
</figure>
{% endblock %}

{% block more %}
    <div class="work-block work-block-side">
      <h4 class="title">More Links</h4>
      <ul>
        <li><a href="#">Techcrunch Article</a></li>
        <li><a href="#">GigaOM Article</a></li>
      </ul>
    </div>
    <div class="work-block work-block-side">
      <h4 class="title">Crafted With</h4>
      <ul>
        <li><a href="#">Popcorn.js</a></li>
        <li><a href="#">jQuery</a></li>
      </ul>
    </div>
{% endblock %}
